flow_LIAM.json
[{"id":"99582503.22a938","type":"tab","label":"Flow 1"},{"id":"d045c90.d8d5438","type":"tab","label":"UI"},{"id":"6f8c6321.2ebca4","type":"tab","label":"API"},{"id":"b3b5cce2.49fbb","type":"tab","label":"SetState"},{"id":"1d783821.d62c9","type":"tab","label":"SetUpDebug"},{"id":"9cf35c49.3bead8","type":"tab","label":"Flow Variables"},{"id":"47300537.4f89a4","type":"tab","label":"SetSlowWheelWhenDocking"},{"id":"a2a73f6c.42a38","type":"ui_group","z":"","name":"Battery","tab":"7b8782ed.ba8dcc","order":1,"disp":true,"width":"6"},{"id":"cab9926a.50c848","type":"ui_tab","z":"","name":"LIAM MOWER","icon":"dashboard"},{"id":"cdba80cb.ade4c","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"d339fa32.f383c","type":"ui_group","z":"","name":"Sensors","tab":"cab9926a.50c848","order":1,"disp":true,"width":"6"},{"id":"d621a726.b45db8","type":"ui_group","z":"","name":"LeftMotor","tab":"7b8782ed.ba8dcc","order":2,"disp":false,"width":"6"},{"id":"7bd31b6.88c8de4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6558cc27.4beac4","type":"serial-port","z":"","serialport":"/dev/serial0","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"7b8782ed.ba8dcc","type":"ui_tab","z":"","name":"SETUP","icon":"dashboard"},{"id":"b899d99f.56a5f8","type":"link in","z":"d045c90.d8d5438","name":"SOC","links":["ffbb31e3.cf1458"],"x":187.5,"y":132,"wires":[["b5144f8.db756b"]]},{"id":"13324238.e3da96","type":"ui_gauge","z":"d045c90.d8d5438","name":"Batteri","group":"d339fa32.f383c","order":4,"width":"0","height":"0","gtype":"gage","title":"Batteri","label":"Volt","format":"{{value}}","min":"10.4","max":"13.5","colors":["#ff0000","#e6e600","#00b500"],"seg1":"10.9","seg2":"11.85","x":648.5,"y":119,"wires":[]},{"id":"50e3283a.003fb","type":"debug","z":"d045c90.d8d5438","name":"BATT SOC","active":false,"console":"false","complete":"true","x":559,"y":53,"wires":[]},{"id":"b5144f8.db756b","type":"function","z":"d045c90.d8d5438","name":"SOC","func":"var value=msg.payload.split(':')[5]/100;\nmsg.payload = value;\nif(msg.topic==\"NOTIFY\")\n    msg.payload=(msg.SOC/100);\nreturn msg;","outputs":1,"noerr":0,"x":358.5,"y":131,"wires":[["13324238.e3da96","50e3283a.003fb"]]},{"id":"cb078a2d.1a4c4","type":"link in","z":"d045c90.d8d5438","name":"UI-STATE","links":["de1cbcd7.a62698","b1541a64.9bd22"],"x":188,"y":181,"wires":[["d5b71faa.14ca6"]]},{"id":"1aee0d2d.9dac7b","type":"link in","z":"d045c90.d8d5438","name":"UI-LMOTOR","links":[],"x":187,"y":226,"wires":[["5f4e57c.e31f628","e1ad908b.feecd"]]},{"id":"3f6795b7.3e7c62","type":"link in","z":"d045c90.d8d5438","name":"UI-RMOTOR","links":["313c6936.cfcfd6"],"x":186,"y":271,"wires":[["30eac2d8.5fc44e","d3629478.ff0ed8"]]},{"id":"f8f8e997.b44e4","type":"link in","z":"d045c90.d8d5438","name":"DEBUG","links":["d9f1d72.53070a8"],"x":188,"y":318,"wires":[["d5b9bbb7.2fc438","8e40b244.2b85c"]]},{"id":"1bbc5200.e23ff6","type":"debug","z":"d045c90.d8d5438","name":"Timer","active":false,"console":"false","complete":"true","x":518,"y":158,"wires":[]},{"id":"96aad84f.367d8","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":2,"width":"0","height":"0","name":"","label":"Timer","format":"{{msg.payload}}","layout":"col-center","x":668.5,"y":179,"wires":[]},{"id":"816aff2a.8548","type":"ui_gauge","z":"d045c90.d8d5438","name":"Left Motor","group":"d621a726.b45db8","order":0,"width":"3","height":"3","gtype":"gage","title":"Left Motor","label":"","format":"{{value}}","min":"0","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":679,"y":239,"wires":[]},{"id":"179c85be.8da59a","type":"ui_gauge","z":"d045c90.d8d5438","name":"Right motor","group":"d621a726.b45db8","order":0,"width":"3","height":"3","gtype":"gage","title":"Right Motor","label":"","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":679.5,"y":304,"wires":[]},{"id":"5f4e57c.e31f628","type":"debug","z":"d045c90.d8d5438","name":"LMotor","active":false,"console":"false","complete":"true","x":532,"y":211,"wires":[]},{"id":"30eac2d8.5fc44e","type":"debug","z":"d045c90.d8d5438","name":"RMotor","active":false,"console":"false","complete":"true","x":539,"y":274,"wires":[]},{"id":"e1ad908b.feecd","type":"function","z":"d045c90.d8d5438","name":"LMOTOR","func":"var value=msg.payload.split(':')[1];\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":388,"y":234,"wires":[["816aff2a.8548"]]},{"id":"d3629478.ff0ed8","type":"function","z":"d045c90.d8d5438","name":"RMOTOR","func":"var value=msg.payload.split(':')[1];\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":295,"wires":[["179c85be.8da59a"]]},{"id":"d5b9bbb7.2fc438","type":"debug","z":"d045c90.d8d5438","name":"INOUT","active":false,"console":"false","complete":"true","x":565,"y":357,"wires":[]},{"id":"1477b7c7.ff0f5","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":3,"width":0,"height":0,"name":"","label":"Debug","format":"{{msg.payload}}","layout":"col-center","x":559,"y":419,"wires":[]},{"id":"d5b71faa.14ca6","type":"function","z":"d045c90.d8d5438","name":"Timer","func":"var run=global.get('RUNTIMER');\nvar charge=global.get('CHARGTIMER');\nif(Number(msg.STATE)===0)\n    {\n        run.setTime(Number(msg.timestamp))\n        msg.payload=\"Start mowing Time:\" +\n        run.getHours() + \":\" +\n        run.getMinutes()+ \":\" +\n        run.getSeconds();\nglobal.set('RUNTIMER',run);\n    }\nelse if (Number(msg.STATE) === 3)\n{\n    charge.setTime(Number(msg.timestamp));\n    msg.payload=\"Start Charge Time:\" +\n        charge.getHours() + \":\" +\n        charge.getMinutes()+ \":\" +\n        charge.getSeconds();\n    global.set('CHARGTIMER',charge);\n}\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":185,"wires":[["96aad84f.367d8","1bbc5200.e23ff6"]]},{"id":"8e40b244.2b85c","type":"function","z":"d045c90.d8d5438","name":"Inside","func":"var message=msg.payload.split(':')[1];\nmsg.payload=message;\nreturn msg;","outputs":1,"noerr":0,"x":393,"y":390,"wires":[["1477b7c7.ff0f5"]]},{"id":"db23d60d.98882","type":"comment","z":"99582503.22a938","name":"Api","info":"  enum API_COMMAND {\n    GetCommands=0,\n    GetCutterState=3,\n    NOTIFY=1,\n    DEBUG=2,\n    GetState=10,\n    SetState=11,\n    GetSetUpDebug=100,\n    SetSetUpDebug=101,\n    GetBattery=102,\n    SetBattery=103,\n    GetSensor=104,\n    SetMotorOn=105,\n    SetMotorOff=106,\n    GetWheelMotor=107,\n    GetSlowWheelWhenDocking=108,\n    SetSlowWheelWhenDocking=109,\n    GetCutterStatus=110,\n    SetFirstByteToFalse=998,\n    INVALID = 999\n  };","x":147.5,"y":387,"wires":[]},{"id":"226655a1.72beda","type":"serial out","z":"6f8c6321.2ebca4","name":"","serial":"cdba80cb.ade4c","x":730,"y":227,"wires":[]},{"id":"438b8f83.3d109","type":"inject","z":"6f8c6321.2ebca4","name":"Get Setup Debug","topic":"","payload":";100","payloadType":"str","repeat":"","crontab":"","once":false,"x":121,"y":47,"wires":[["8bdc186f.b76068"]]},{"id":"7216b70c.c9aab8","type":"inject","z":"6f8c6321.2ebca4","name":"Toggle led","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"x":96.5,"y":288,"wires":[["8bdc186f.b76068"]]},{"id":"8bdc186f.b76068","type":"function","z":"6f8c6321.2ebca4","name":"","func":"msg.payload+=\"\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":624,"y":297,"wires":[["226655a1.72beda","abe78cb8.16954"]]},{"id":"9b7df733.fad598","type":"comment","z":"6f8c6321.2ebca4","name":"API","info":"  enum API_COMMAND {\n    OK=0,\n    GetSetUpDebug=100, //response sync command value 0/1\n    SetSetUpDebug=101,  // sync command value 0==false 1==true\n    GetBattery=102,   //response type min max gohome\n    SetBattery=103, // sync command type min max gohome\n    GetLeftSensor=104, // Response values for left sensor\n    GetRightSensor=105, // response values for right sensor\n    SetMotorOn=106, // sync command motor speed\n    SetMotorOff=107, // sync command motor\n    GetWheelMotor=108, //return speed load isOverloaded\n    GetCutterStatus=109, //return  these might be combined.\n    SetFirstByteToFalse=998, // sync command *** will erase values in eeprom to start over, or to use default values ***\n    INVALID = 999\n  };\n  \n    OK=0,\n    NOTIFY=1,\n    DEBUG=2,\n    GetState=10,\n    SetState=11,\n    GetSetUpDebug=100,\n    SetSetUpDebug=101,\n    GetBattery=102,\n    SetBattery=103,\n    GetSensor=104,\n    SetMotorOn=105,\n    SetMotorOff=106,\n    GetWheelMotor=107,\n    GetSlowWheelWhenDocking=108,\n    SetSlowWheelWhenDocking=109,\n    GetCutterStatus=110,\n    SetFirstByteToFalse=998,\n    INVALID = 999\n  \n  \n  STATE\n  \n  \nenum CUTTERSTATES {\n        MOWING = 0,\n        LAUNCHING = 1,\n        DOCKING = 2,\n        CHARGING = 3,\n        IDLE = 4,\n        PREDOCK,\n        PRE_DOCK_RIGHT_OUT,\n        PRE_DOCK_LEFT_OUT,\n        ERROR // LEAVE THIS AS LAST ITEM.. ALWAYS!!!! Error is used from API as end indicator.\n        };\n","x":564.5,"y":49,"wires":[]},{"id":"47f0c5e5.0c5f0c","type":"inject","z":"6f8c6321.2ebca4","name":"Get Battery","topic":"","payload":";102","payloadType":"str","repeat":"","crontab":"","once":false,"x":108,"y":98,"wires":[["8bdc186f.b76068"]]},{"id":"d5d13ee5.066458","type":"switch","z":"99582503.22a938","name":"API","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"102","vt":"num"},{"t":"eq","v":"104","vt":"str"},{"t":"eq","v":"108","vt":"num"}],"checkall":"true","outputs":5,"x":376.5,"y":284,"wires":[["69139f07.cede4"],["75d77108.8c0d98","d9f1d72.53070a8"],["c1481ae9.b587c"],["a48b5113.ffe5a8"],["b5cea1a7.9ea8f"]]},{"id":"75d77108.8c0d98","type":"debug","z":"99582503.22a938","name":"Debug","active":false,"console":"false","complete":"true","x":588,"y":165,"wires":[]},{"id":"c1481ae9.b587c","type":"link out","z":"99582503.22a938","name":"SOC","links":["d3212def.2a0798"],"x":587.5,"y":217,"wires":[]},{"id":"a48b5113.ffe5a8","type":"link out","z":"99582503.22a938","name":"LMOTOR","links":["2131bfef.181348"],"x":606,"y":271,"wires":[]},{"id":"313c6936.cfcfd6","type":"link out","z":"99582503.22a938","name":"RMOTOR","links":["3f6795b7.3e7c62"],"x":613,"y":336,"wires":[]},{"id":"aee401df.f6a668","type":"link out","z":"99582503.22a938","name":"InOUt","links":[],"x":616,"y":382,"wires":[]},{"id":"f833f53f.367f78","type":"debug","z":"99582503.22a938","name":"inout","active":true,"console":"false","complete":"true","x":578,"y":521,"wires":[]},{"id":"7a4f66ea.784cb","type":"link out","z":"6f8c6321.2ebca4","name":"API-out","links":["38c4f594.060fea"],"x":714,"y":137,"wires":[]},{"id":"f42b4e1d.1792a","type":"serial in","z":"6f8c6321.2ebca4","name":"Arduino","serial":"cdba80cb.ade4c","x":589.5,"y":133,"wires":[["7a4f66ea.784cb","82e7c291.3f30d"]]},{"id":"daf2cddd.80766","type":"debug","z":"99582503.22a938","name":"","active":false,"console":"false","complete":"true","x":370,"y":61,"wires":[]},{"id":"38c4f594.060fea","type":"link in","z":"99582503.22a938","name":"API","links":["7a4f66ea.784cb"],"x":140,"y":94,"wires":[["f3ec3217.192628"]]},{"id":"82e7c291.3f30d","type":"debug","z":"6f8c6321.2ebca4","name":"","active":true,"console":"false","complete":"true","x":750.5,"y":73,"wires":[]},{"id":"855873fa.200208","type":"inject","z":"6f8c6321.2ebca4","name":"Set Battery","topic":"","payload":";103:2:1098:1875:1100","payloadType":"str","repeat":"","crontab":"","once":false,"x":97,"y":145,"wires":[["8bdc186f.b76068"]]},{"id":"716a2266.c5ccb4","type":"inject","z":"6f8c6321.2ebca4","name":"Get LeftSensor","topic":"","payload":";104:0","payloadType":"str","repeat":"","crontab":"","once":false,"x":124,"y":190,"wires":[["8bdc186f.b76068"]]},{"id":"901dcad.fade538","type":"inject","z":"6f8c6321.2ebca4","name":"Get RightSensor","topic":"","payload":";104:1","payloadType":"str","repeat":"","crontab":"","once":false,"x":113,"y":240,"wires":[["8bdc186f.b76068"]]},{"id":"cab2fcb0.200c28","type":"inject","z":"6f8c6321.2ebca4","name":"Setup Debug false","topic":"","payload":";101:0","payloadType":"str","repeat":"","crontab":"","once":false,"x":359,"y":39,"wires":[["8bdc186f.b76068"]]},{"id":"33046ee6.56f7ca","type":"inject","z":"6f8c6321.2ebca4","name":"Setup Debug true","topic":"","payload":";101:1","payloadType":"str","repeat":"","crontab":"","once":false,"x":330,"y":88,"wires":[["8bdc186f.b76068"]]},{"id":"564e7901.63f5c8","type":"inject","z":"6f8c6321.2ebca4","name":"GetState","topic":"","payload":";10","payloadType":"str","repeat":"","crontab":"","once":false,"x":97,"y":330,"wires":[["8bdc186f.b76068"]]},{"id":"f3ec3217.192628","type":"function","z":"99582503.22a938","name":"","func":"if(msg.payload[0]!=';')\n    return null;\nmsg.payload=msg.payload.substr(1);\n\nvar output = msg.payload.split(':');\n \nvar com = parseInt(output[0]);\nmsg.topic = com;\nmsg.timestamp = Math.round(+new Date());\nreturn msg;","outputs":"1","noerr":0,"x":220.5,"y":161,"wires":[["daf2cddd.80766","d5d13ee5.066458"]]},{"id":"c0e01bb7.dacba","type":"inject","z":"99582503.22a938","name":"","topic":"","payload":"ed;102:2:1100:1700:1120:1145","payloadType":"str","repeat":"","crontab":"","once":false,"x":126.5,"y":260,"wires":[["f3ec3217.192628"]]},{"id":"69139f07.cede4","type":"link out","z":"99582503.22a938","name":"NOTIFY","links":["dbe8981f.b15d4"],"x":556,"y":93,"wires":[]},{"id":"5d7ff03b.e0279","type":"function","z":"d045c90.d8d5438","name":"Loop","func":"var value=msg.payload.split(':')[1];\nmsg.payload = value;\nif(msg.topic==\"NOTIFY\")\n    {\n        msg.payload=msg.LOOPTIME;\n    \n    }\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":467,"wires":[["f2bf538.720c33","8ca782cd.2f56c"]]},{"id":"f2bf538.720c33","type":"debug","z":"d045c90.d8d5438","name":"INOUT","active":false,"console":"false","complete":"true","x":559,"y":511,"wires":[]},{"id":"23ad6a1a.5b3716","type":"ui_dropdown","z":"b3b5cce2.49fbb","name":"","label":"Mower State","place":"Select option","group":"d339fa32.f383c","order":5,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":505.5,"y":200,"wires":[["57b09031.297dd8"]]},{"id":"96a1aa5c.abe23","type":"link out","z":"b3b5cce2.49fbb","name":"SewtState","links":["7c8773e6.e46a3c"],"x":764.5,"y":430,"wires":[]},{"id":"57b09031.297dd8","type":"function","z":"b3b5cce2.49fbb","name":"UserSetState","func":"var state = global.get('STATE');\nvar num = state[msg.payload].value;\nvar temp = state[msg.payload].name;\nmsg.payload = \";11:\"+num;\nmsg.TEMP=temp;\nreturn msg;","outputs":1,"noerr":0,"x":708.5,"y":201,"wires":[["f76de6b3.f91388","96a1aa5c.abe23"]]},{"id":"7c8773e6.e46a3c","type":"link in","z":"6f8c6321.2ebca4","name":"","links":["2bddce07.1abc1a","641e2860.f496","96a1aa5c.abe23","f1240007.fcfcc"],"x":229.5,"y":405,"wires":[["8bdc186f.b76068","ebe7c16f.952468"]]},{"id":"dbe8981f.b15d4","type":"link in","z":"d045c90.d8d5438","name":"NOTIFY","links":["69139f07.cede4"],"x":224,"y":567,"wires":[["6c741441.47033c"]]},{"id":"6c741441.47033c","type":"function","z":"d045c90.d8d5438","name":"NOTIFY","func":"var STATE=msg.payload.split(':')[1];\nvar SOC=msg.payload.split(':')[2];\nvar LOOPTIME=msg.payload.split(':')[3];\nmsg.topic=\"NOTIFY\";\nmsg.STATE=STATE;\nmsg.SOC=SOC;\nmsg.LOOPTIME=LOOPTIME;\nreturn msg;","outputs":1,"noerr":0,"x":114,"y":374,"wires":[["5d7ff03b.e0279","b5144f8.db756b","3c263c4a.5fc7bc","d004b5e5.6fe42"]]},{"id":"63068b7.29f2bf4","type":"link in","z":"b3b5cce2.49fbb","name":"NOTIFY-STATE","links":["3c263c4a.5fc7bc"],"x":135.5,"y":389,"wires":[["a1029212.805508","a334a33d.284438"]]},{"id":"a1029212.805508","type":"function","z":"b3b5cce2.49fbb","name":"Behöver byggas om","func":"//if(msg.topic!=\"NOTIFY\")\n  //  return;\nvar oldstate=global.get('Current_STATE');\nif(oldstate == msg.STATE)\n    return; // samma status som tidigare.. \nvar havesetgoout = flow.get('HaveSetGoOut')||false;\nvar cut = global.get('TimeToCut');\n\nif(!cut) // om vi inte ska klippa mer.. \n{\n    if(msg.STATE==4) // om status == 4 så lämna bara\n        return;\n    \n    flow.set('HaveSetGoOut',false); // sätt denna till false inför morgonen..    \n    \n    var msg2 ={payload:\";11:4\"}; // annars sätt status till IDLE\n    return [msg,msg2];\n}\nelse if(cut &! havesetgoout) // vi ska klippa och bool är false så vi ska ställa den till true\n{\n   if(msg.STATE==4)// men bara vid status 4\n    {\n        flow.set('HaveSetGoOut',true);\n        var msg3 =  {payload:\";11:3\"}; // ställ charging\n        return[msg,msg3]\n    }\n}\nelse\n\nreturn [msg,null];","outputs":"2","noerr":0,"x":231,"y":322,"wires":[["b1541a64.9bd22","9e7325d7.27bf78"],["96a1aa5c.abe23"]]},{"id":"f76de6b3.f91388","type":"debug","z":"b3b5cce2.49fbb","name":"","active":true,"console":"false","complete":"true","x":808.5,"y":575,"wires":[]},{"id":"3c263c4a.5fc7bc","type":"link out","z":"d045c90.d8d5438","name":"NOTIFY-STATE","links":["63068b7.29f2bf4"],"x":425.5,"y":564,"wires":[]},{"id":"bceceb04.a6e87","type":"inject","z":"6f8c6321.2ebca4","name":"SetState","topic":"","payload":";11:4","payloadType":"str","repeat":"","crontab":"","once":false,"x":134,"y":483,"wires":[["8bdc186f.b76068"]]},{"id":"b1541a64.9bd22","type":"link out","z":"b3b5cce2.49fbb","name":"SetStateViaNotify","links":["cb078a2d.1a4c4"],"x":452,"y":259,"wires":[]},{"id":"d9f1d72.53070a8","type":"link out","z":"99582503.22a938","name":"DEBUG","links":["f8f8e997.b44e4"],"x":558,"y":130,"wires":[]},{"id":"ebb50fc0.19c7a8","type":"debug","z":"1d783821.d62c9","name":"","active":true,"console":"false","complete":"true","x":850.5,"y":111,"wires":[]},{"id":"fbbf8f5a.606aa","type":"inject","z":"1d783821.d62c9","name":"Get Battery","topic":"INIT:102","payload":";102#","payloadType":"str","repeat":"","crontab":"","once":true,"x":113,"y":186,"wires":[["f1240007.fcfcc"]]},{"id":"f1240007.fcfcc","type":"link out","z":"1d783821.d62c9","name":"","links":["7c8773e6.e46a3c"],"x":551.5,"y":288,"wires":[]},{"id":"d3212def.2a0798","type":"link in","z":"1d783821.d62c9","name":"GetBattery","links":["c1481ae9.b587c"],"x":150.5,"y":128,"wires":[["7fb7b908.5aaf1"]]},{"id":"7fb7b908.5aaf1","type":"function","z":"1d783821.d62c9","name":"BatteryStat","func":"var values = msg.payload.split(':');\n\nmsg.payload=values;\nvar types=[];\ntypes[0] = \"LEAD ACID\";\ntypes[1] = \"NMHI\";\ntypes[2] = \"LIION\";\n\nvar type = { payload:types[values[1]]};\nflow.set('BATTERY-TYPE',values[1]);\n\nvar min = { payload:values[2]};\nflow.set('BATTERY-MIN',values[2]);\n\nvar full = { payload:values[3]};\nflow.set('BATTERY-MAX',values[3]);\n\nvar soc = { payload:values[5]};\nreturn [type, min, full, soc,msg];\n\n","outputs":"5","noerr":0,"x":289.5,"y":131,"wires":[["cf354c6a.7789c8"],["5bd225b2.632494"],["2da79e1f.34fe0a"],["50f224e6.600f94"],["893f6314.90eb6"]]},{"id":"cf354c6a.7789c8","type":"ui_text","z":"1d783821.d62c9","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"name":"BatType","label":"Battery Type","format":"{{msg.payload}}","layout":"col-center","x":385.5,"y":27,"wires":[]},{"id":"16c93fb3.a4e4b8","type":"debug","z":"1d783821.d62c9","name":"","active":true,"console":"false","complete":"true","x":789,"y":316,"wires":[]},{"id":"8ca782cd.2f56c","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":1,"width":0,"height":0,"name":"","label":"LoopDelay ","format":"{{msg.payload}} ms","layout":"row-center","x":563.5,"y":464,"wires":[]},{"id":"5bd225b2.632494","type":"ui_text_input","z":"1d783821.d62c9","name":"Min","label":"Min","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"MIN","x":514.5,"y":44,"wires":[["15fb5fda.f261e"]]},{"id":"2da79e1f.34fe0a","type":"ui_text_input","z":"1d783821.d62c9","name":"Max","label":"MaxLevel","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"MAX","x":509,"y":100,"wires":[["15fb5fda.f261e"]]},{"id":"50f224e6.600f94","type":"ui_text","z":"1d783821.d62c9","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"name":"SOC","label":"SOC","format":"{{msg.payload}}","layout":"row-spread","x":503,"y":148,"wires":[]},{"id":"a34a0db4.0ef1f","type":"ui_button","z":"1d783821.d62c9","name":"Get Battery stats","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"passthru":false,"label":"Get Battery Status","color":"","bgcolor":"","icon":"","payload":";102","payloadType":"str","topic":"","x":306.5,"y":314,"wires":[["f1240007.fcfcc"]]},{"id":"f70c0d0f.077418","type":"ui_button","z":"1d783821.d62c9","name":"Set Battery stats","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"passthru":false,"label":"Set Values","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":493,"y":227,"wires":[["c4dd1a06.7dc2b8"]]},{"id":"c4dd1a06.7dc2b8","type":"function","z":"1d783821.d62c9","name":"User Set button","func":"var min = flow.get('BATTERY-MIN');\nvar max = flow.get('BATTERY-MAX');\nvar type =flow.get('BATTERY-TYPE');\nif(min==\"NaN\" ||max==\"NaN\"||type==\"NaN\" )\nmsg.payload=\"Detta gick inte\";\nelse\n{\nmsg.payload = \";103:\"+ \ntype+\n\":\"+\nmin+\n\":\"+\nmax+\n\":\"+\nmin;\n}\nreturn msg;","outputs":1,"noerr":0,"x":710.5,"y":223,"wires":[["16c93fb3.a4e4b8","f1240007.fcfcc"]]},{"id":"15fb5fda.f261e","type":"function","z":"1d783821.d62c9","name":"User selected values","func":"if(msg.topic==\"MIN\")\n{\n    msg.topic=\"MINUS\";\n    flow.set('BATTERY-MIN',msg.payload);\n    \n}\nif(msg.topic==\"MAX\")\n{\n    msg.topic = \"PLUS\";\n    flow.set('BATTERY-MAX',msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":54,"wires":[["ebb50fc0.19c7a8"]]},{"id":"abe78cb8.16954","type":"debug","z":"6f8c6321.2ebca4","name":"","active":false,"console":"false","complete":"true","x":724,"y":353,"wires":[]},{"id":"893f6314.90eb6","type":"debug","z":"1d783821.d62c9","name":"","active":false,"console":"false","complete":"true","x":473,"y":186,"wires":[]},{"id":"3d393cfa.92f264","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":0,"width":0,"height":0,"name":"","label":"Cutting Time","format":"{{msg.payload}}","layout":"row-left","x":348.5,"y":46,"wires":[]},{"id":"d004b5e5.6fe42","type":"function","z":"d045c90.d8d5438","name":"Set Text","func":"var value = global.get('TimeToCut');\nif(value)\n    msg.payload = \"Yes it is\";\nelse\n    msg.payload = \"No, Sleeping Time\";\nreturn msg;","outputs":1,"noerr":0,"x":136,"y":52,"wires":[["3d393cfa.92f264"]]},{"id":"10ff900e.f799a","type":"inject","z":"1d783821.d62c9","name":"Get Battery","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":557,"y":358,"wires":[["c4dd1a06.7dc2b8"]]},{"id":"263e1fb.827966","type":"function","z":"9cf35c49.3bead8","name":"Timer","func":"\nvar cs = Number(global.get('Current_STATE'));\nmsg.CS=cs;\nvar timer;\nswitch (cs) {\n    case 0:\n    case 1:\n    case 2:\n       timer = Number(global.get('RUNTIMER'));\n       timer++;\n       global.set('RUNTIMER',timer);\n        break;\n    case 3:\n        timer = Number(global.get('CHARGETIMER'));\n        timer++;\n        global.set('CHARGETIMER',timer);\n        break;\n    case 4:\n         timer = Number(global.get('IDLETIMER'));\n         timer++;\n         global.set('IDLETIMER',timer);\n       break;\n    \n    default:\n        return;\n}\nmsg.MINTIMER=timer;\n\n/*Mowing : {value: 0, name: \"Mowing\"}, \n  Launching: {value: 1, name: \"Launching\"}, \n  Docking : {value: 2, name: \"Docking\"},\n  Charging : {value: 3, name: \"Charging\"},\n  IDLE : {value: 4, name: \"IDLE\"},\n  ERROR : {value: 5, name: \"ERROR\"}*/\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":98,"wires":[["be9e1c36.e78e88"]]},{"id":"9f24c895.bf4c58","type":"function","z":"9cf35c49.3bead8","name":"STATE","func":"var State = {\n  Mowing : {value: 0, name: \"Mowing\"}, \n  Launching: {value: 1, name: \"Launching\"}, \n  Docking : {value: 2, name: \"Docking\"},\n  Charging : {value: 3, name: \"Charging\"},\n  IDLE : {value: 4, name: \"IDLE\"},\n  PREDOCK : {value: 5, name: \"PREDOCK\"}\n};\nmsg.state=State;\n\nvar runTime=new Date();\nvar ChargeTime = new Date();\n\n\nglobal.set('STATE',State)\nglobal.set('RUNTIMER',runTime);\nglobal.set('CHARGTIMER',ChargeTime);\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":166,"wires":[["be9e1c36.e78e88"]]},{"id":"6e014029.78b8f","type":"inject","z":"9cf35c49.3bead8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119.5,"y":94,"wires":[["263e1fb.827966"]]},{"id":"8f86af2c.913a2","type":"inject","z":"9cf35c49.3bead8","name":"","topic":"","payload":"IDLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":141.5,"y":283,"wires":[["ab0a6c46.dfd5b8"]]},{"id":"ab0a6c46.dfd5b8","type":"function","z":"9cf35c49.3bead8","name":"TEST","func":"var state = global.get('STATE');\nvar num = state[msg.payload].value;\nvar arr = [];\nfor(var i in state){\n    var type = state[i].name;\n    arr.push(type);\n}\nmsg.payload=arr;\nmsg.TEST=num;\nreturn msg;","outputs":1,"noerr":0,"x":352.5,"y":275,"wires":[["e954ce46.1b9cc8"]]},{"id":"e954ce46.1b9cc8","type":"debug","z":"9cf35c49.3bead8","name":"","active":true,"console":"false","complete":"true","x":515.5,"y":277,"wires":[]},{"id":"a81bee7.790159","type":"inject","z":"9cf35c49.3bead8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":126.5,"y":163,"wires":[["9f24c895.bf4c58"]]},{"id":"9e7325d7.27bf78","type":"debug","z":"b3b5cce2.49fbb","name":"","active":false,"console":"false","complete":"true","x":562,"y":563,"wires":[]},{"id":"21f06000.70359","type":"bigtimer","z":"9cf35c49.3bead8","outtopic":"","outpayload1":"TimeToCut","outpayload2":"TimeToGoHome","name":"Big Timer","lat":"","lon":"","starttime":"540","endtime":"1260","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":495,"y":176.5,"wires":[["5284fbb0.981454","e8d92bd4.e4b4d"],["ce51496f.cad418"],["da7ad31d.68972"]]},{"id":"5284fbb0.981454","type":"debug","z":"9cf35c49.3bead8","name":"TimeDebug","active":false,"console":"false","complete":"true","x":679.5,"y":147,"wires":[]},{"id":"ce51496f.cad418","type":"debug","z":"9cf35c49.3bead8","name":"TimeDebug","active":false,"console":"false","complete":"true","x":742.5,"y":205,"wires":[]},{"id":"da7ad31d.68972","type":"debug","z":"9cf35c49.3bead8","name":"TimeDebug","active":false,"console":"false","complete":"true","x":735.5,"y":253,"wires":[]},{"id":"51aa3432.966e14","type":"inject","z":"9cf35c49.3bead8","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"x":538,"y":63,"wires":[["21f06000.70359"]]},{"id":"e8d92bd4.e4b4d","type":"function","z":"9cf35c49.3bead8","name":"Setting TimeToCutBOOL","func":"if(msg.payload==\"TimeToCut\")\n    global.set('TimeToCut',true);\nif(msg.payload==\"TimeToGoHome\")\n    global.set('TimeToCut',false);\n ","outputs":1,"noerr":0,"x":719.5,"y":109,"wires":[[]]},{"id":"be9e1c36.e78e88","type":"debug","z":"9cf35c49.3bead8","name":"","active":true,"console":"false","complete":"true","x":443,"y":100,"wires":[]},{"id":"bf7cda75.722f5","type":"inject","z":"9cf35c49.3bead8","name":"","topic":"","payload":"IDLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":418,"wires":[["1bcfe6c4.cde0f1"]]},{"id":"1bcfe6c4.cde0f1","type":"function","z":"9cf35c49.3bead8","name":"LIAM","func":"\nreturn msg;","outputs":1,"noerr":0,"x":351,"y":410,"wires":[["9faa1160.a210a8"]]},{"id":"9faa1160.a210a8","type":"debug","z":"9cf35c49.3bead8","name":"","active":true,"console":"false","complete":"true","x":514,"y":412,"wires":[]},{"id":"7d8e1227.8e2604","type":"comment","z":"b3b5cce2.49fbb","name":"Hur funkar detta.","info":"kolla Om det är samma status som tidigare. \nOm return\n\nannars. \nSkapa msg1 som ställer text i drop down list. //klar\nskapa msg2 som ändrar text för tid om det behövs. EJ KLART\nskapa msg3 som kollar om det är tid att vila eller inte. EJ KLART\n","x":312.5,"y":64,"wires":[]},{"id":"a334a33d.284438","type":"function","z":"b3b5cce2.49fbb","name":"SetState","func":"var state = global.get('STATE');\nvar arr = [];\nfor(var i in state){\n    var type = state[i].name;\n    arr.push(type);\n}\nmsg.options=arr;\nmsg.payload = msg.options[msg.STATE];\nglobal.set('Current_STATE',msg.STATE);\n\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":200,"wires":[["23ad6a1a.5b3716"]]},{"id":"1661f567.4ffa7b","type":"inject","z":"d045c90.d8d5438","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":817.5,"y":99,"wires":[["65b321fd.466e98"]]},{"id":"429fe972.fe09b","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":2,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":839,"y":191,"wires":[]},{"id":"65b321fd.466e98","type":"function","z":"d045c90.d8d5438","name":"Timer","func":"var run=global.get('RUNTIMER');\nvar charge=global.get('CHARGTIMER');\nvar state = global.get('Current_STATE');\nmsg.timestamp = Math.round(+new Date());\n\nvar h,m,s;\nvar localtime;\nif(Number(state)===0)\n    {\n        localtime = run;\n    }\nelse if (Number(state) === 3)\n{\n    localtime = charge;\n}\nelse {\n    return null;\n}\n    var time = new Date();\n    time.setTime(msg.timestamp-\n    localtime.getTime());\n    h = time.getHours();\n    m = time.getMinutes();\n    s = time.getSeconds();\n    if(h>0)\n    h--;\n    if(h < 10)\n    h = \"0\"+h;\n    if(m < 10)\n    m = \"0\"+m;\n    if(s < 10)\n    s = \"0\"+s;\n    \n    msg.payload=\"Timer :\" + \n    h + \":\"+\n    m+ \":\"+\n    s;\n        \nreturn msg;","outputs":1,"noerr":0,"x":808,"y":150,"wires":[["429fe972.fe09b","e841c5f2.f4ecd8"]]},{"id":"e841c5f2.f4ecd8","type":"debug","z":"d045c90.d8d5438","name":"Timer","active":false,"console":"false","complete":"true","x":863,"y":280,"wires":[]},{"id":"1639d9f1.c28976","type":"inject","z":"47300537.4f89a4","name":"","topic":"INIT:108","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":138.5,"y":34,"wires":[["40574aa4.14777c"]]},{"id":"2869b944.e9a1be","type":"function","z":"47300537.4f89a4","name":"","func":"if(msg.topic==\"INIT:108\") // nytt meddelande\n{\n    /*skicka iväg en fråga om värdet på släphjulet */\n    var getStatus={};\n    getStatus.payload = \";108#\"; // # endcommand!!\n    return [null,getStatus,null];\n    \n}\n\nelse if(msg.topic==108) // return\n{\nvar value = Number(msg.payload.split(':')[1]); // 0 = kommando \nvar arr=[];\n/* sets values for dropdown list */\nfor(var i=5;i<96; i+=5)\n{\n    arr.push(i);\n}\nmsg.options=arr;\nmsg.payload = value;\nreturn [msg,null,value];\n\n}\n\nelse\nreturn \"Nisses skrothandel\";","outputs":"3","noerr":0,"x":356.5,"y":127,"wires":[["16ca6353.89f8cd","d1582d03.b5ba8"],["2bddce07.1abc1a"],["d1582d03.b5ba8"]]},{"id":"2bddce07.1abc1a","type":"link out","z":"47300537.4f89a4","name":"GetSLowWheel","links":["101f6584.f08232","7c8773e6.e46a3c"],"x":829.5,"y":228,"wires":[]},{"id":"3b93397b.95727e","type":"function","z":"47300537.4f89a4","name":"User selected value","func":"if(msg.topic==\"INIT:108\")\n{\n   return; // om topic init kommer hit, avsluta den här.\n}\nvar percent = msg.payload;\n/* 109 set slow wheel speed at docking */\nmsg.payload = \";109:\"+percent; \nreturn msg;","outputs":"1","noerr":0,"x":797,"y":116,"wires":[["2bddce07.1abc1a","d1582d03.b5ba8"]]},{"id":"bb053a7f.daa868","type":"link in","z":"47300537.4f89a4","name":"GetSLowWhell","links":["b5cea1a7.9ea8f","bd440639.b76aa"],"x":145.5,"y":325,"wires":[["d1582d03.b5ba8","bbfba6d9.fa55e"]]},{"id":"b5cea1a7.9ea8f","type":"link out","z":"99582503.22a938","name":"SOC","links":["bb053a7f.daa868"],"x":561,"y":311,"wires":[]},{"id":"ea55831c.75716","type":"catch","z":"6f8c6321.2ebca4","name":"","scope":null,"x":88.5,"y":558,"wires":[["b65b8cd4.9a6b88"]]},{"id":"bd440639.b76aa","type":"link out","z":"6f8c6321.2ebca4","name":"TRY AGAIN","links":["109042d5.449065","bb053a7f.daa868","878f367b.831d3"],"x":390,"y":560,"wires":[]},{"id":"878f367b.831d3","type":"link in","z":"1d783821.d62c9","name":"","links":["bd440639.b76aa"],"x":145.5,"y":303,"wires":[["c03cc639.1927a8"]]},{"id":"c03cc639.1927a8","type":"function","z":"1d783821.d62c9","name":"Return value from Catch all filter","func":"if(msg.topic==\"INIT:102\")\n{\n    msg.payload=\";102\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":211.5,"y":253,"wires":[["f1240007.fcfcc"]]},{"id":"ebe7c16f.952468","type":"debug","z":"6f8c6321.2ebca4","name":"","active":false,"console":"false","complete":"true","x":511,"y":471,"wires":[]},{"id":"b65b8cd4.9a6b88","type":"delay","z":"6f8c6321.2ebca4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":252.5,"y":563,"wires":[["bd440639.b76aa"]]},{"id":"d1582d03.b5ba8","type":"debug","z":"47300537.4f89a4","name":"","active":false,"console":"false","complete":"true","x":519.5,"y":317,"wires":[]},{"id":"45eb79e7.8f0d5","type":"inject","z":"47300537.4f89a4","name":"","topic":"50","payload":"50","payloadType":"num","repeat":"","crontab":"","once":false,"x":541,"y":61,"wires":[["3b93397b.95727e"]]},{"id":"71d44bb3.51e64c","type":"inject","z":"6f8c6321.2ebca4","name":"GetSlowWheel","topic":"","payload":";108:","payloadType":"str","repeat":"","crontab":"","once":false,"x":117,"y":383,"wires":[["8bdc186f.b76068"]]},{"id":"16ca6353.89f8cd","type":"ui_dropdown","z":"47300537.4f89a4","name":"","label":"Slow Wheel Speed %","place":"Select option","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":549.5,"y":118,"wires":[["3b93397b.95727e"]]},{"id":"40574aa4.14777c","type":"delay","z":"47300537.4f89a4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":256.5,"y":77,"wires":[["2869b944.e9a1be"]]},{"id":"bbfba6d9.fa55e","type":"function","z":"47300537.4f89a4","name":"check if return (socket not open)","func":"if(msg.topic==\"INIT:108\" || msg.topic==108)\n{\n  return msg;\n}","outputs":"1","noerr":0,"x":269,"y":279,"wires":[["2869b944.e9a1be"]]},{"id":"20ca6eb0.61007a","type":"inject","z":"b3b5cce2.49fbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":118.5,"y":122,"wires":[["a3bae795.f7a83"]]},{"id":"a3bae795.f7a83","type":"function","z":"b3b5cce2.49fbb","name":"Needs to be checked if needed","func":"flow.set('HaveSetGoOut',false); // sätt denna till false inför morgonen..    \n","outputs":"1","noerr":0,"x":356,"y":119,"wires":[[]]},{"id":"4d73ea99.039cec","type":"bcrypt","z":"99582503.22a938","name":"","action":"encrypt","field":"payload","hash":"payload","rounds":10,"x":395.5,"y":520,"wires":[["f833f53f.367f78"]]},{"id":"316ad9f0.c681d6","type":"inject","z":"99582503.22a938","name":"kör denna för att generera ett lösen till Node Red ","topic":"","payload":"DITT LÖSEN HÄR","payloadType":"str","repeat":"","crontab":"","once":false,"x":234,"y":599,"wires":[["4d73ea99.039cec"]]},{"id":"643ecda2.e8df94","type":"ui_button","z":"1d783821.d62c9","name":"Get Left sensor","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"passthru":false,"label":"Sensor Left","color":"","bgcolor":"","icon":"","payload":";104:0","payloadType":"str","topic":"Left","x":270,"y":461,"wires":[["f1240007.fcfcc"]]},{"id":"b03eb69f.c62048","type":"ui_button","z":"1d783821.d62c9","name":"Get Right sensor","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"passthru":false,"label":"Sensor Right","color":"","bgcolor":"","icon":"","payload":";104:1","payloadType":"str","topic":"Right","x":259,"y":518,"wires":[["f1240007.fcfcc"]]},{"id":"dafb2bd7.7fa178","type":"ui_text","z":"1d783821.d62c9","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"name":"Sensor","label":"Sensor {{msg.topic}}","format":"{{msg.payload}}","layout":"col-center","x":440,"y":558,"wires":[]},{"id":"2131bfef.181348","type":"link in","z":"1d783821.d62c9","name":"Get Sensors","links":["a48b5113.ffe5a8"],"x":212,"y":564,"wires":[["dafb2bd7.7fa178","757b2d92.744784"]]},{"id":"757b2d92.744784","type":"debug","z":"1d783821.d62c9","name":"","active":true,"console":"false","complete":"true","x":425,"y":598,"wires":[]},{"id":"4931f60d.20baf","type":"inject","z":"6f8c6321.2ebca4","name":"Set EEPORM INVALID","topic":"","payload":";998","payloadType":"str","repeat":"","crontab":"","once":false,"x":357,"y":134,"wires":[["8bdc186f.b76068"]]}]