flow_LIAM.json
[{"id":"99582503.22a938","type":"tab","label":"Flow 1"},{"id":"6f8c6321.2ebca4","type":"tab","label":"API"},{"id":"d045c90.d8d5438","type":"tab","label":"UI"},{"id":"b3b5cce2.49fbb","type":"tab","label":"SetState"},{"id":"1d783821.d62c9","type":"tab","label":"SetUpDebug"},{"id":"9cf35c49.3bead8","type":"tab","label":"Flow Variables"},{"id":"f76f6e33.ff803","type":"tab","label":"Continuous checks","disabled":false,"info":""},{"id":"521aa5c9.2efc6c","type":"tab","label":"Wheel","disabled":false},{"id":"a2a73f6c.42a38","type":"ui_group","z":"","name":"Battery","tab":"7b8782ed.ba8dcc","order":1,"disp":true,"width":"6"},{"id":"cab9926a.50c848","type":"ui_tab","z":"","name":"LIAM MOWER","icon":"dashboard"},{"id":"d339fa32.f383c","type":"ui_group","z":"","name":"Sensors","tab":"cab9926a.50c848","order":1,"disp":true,"width":"6"},{"id":"d621a726.b45db8","type":"ui_group","z":"","name":"LeftMotor","tab":"7b8782ed.ba8dcc","order":2,"disp":false,"width":"6"},{"id":"7bd31b6.88c8de4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7b8782ed.ba8dcc","type":"ui_tab","z":"","name":"SETUP","icon":"dashboard"},{"id":"920089d8.162818","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"50e3283a.003fb","type":"debug","z":"d045c90.d8d5438","name":"BATT SOC","active":false,"console":"false","complete":"true","x":632,"y":82,"wires":[]},{"id":"1bbc5200.e23ff6","type":"debug","z":"d045c90.d8d5438","name":"Timer","active":true,"console":"false","complete":"true","x":518,"y":158,"wires":[]},{"id":"96aad84f.367d8","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":2,"width":"0","height":"0","name":"","label":"Timer","format":"{{msg.payload}}","layout":"col-center","x":668.5,"y":179,"wires":[]},{"id":"5f4e57c.e31f628","type":"debug","z":"d045c90.d8d5438","name":"LMotor","active":true,"console":"false","complete":"true","x":537,"y":266,"wires":[]},{"id":"d5b9bbb7.2fc438","type":"debug","z":"d045c90.d8d5438","name":"INOUT","active":false,"console":"false","complete":"true","x":578,"y":344,"wires":[]},{"id":"1477b7c7.ff0f5","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":3,"width":0,"height":0,"name":"INOUT","label":"IN-OUT","format":"{{msg.payload}}","layout":"col-center","x":569,"y":397,"wires":[]},{"id":"d5b71faa.14ca6","type":"function","z":"d045c90.d8d5438","name":"Timer","func":"var run=global.get('RUNTIMER');\nvar charge=global.get('CHARGTIMER');\nif(Number(msg.STATE)===0)\n    {\n        run.setTime(Number(msg.timestamp))\n        msg.payload=\"Start mowing Time:\" +\n        run.getHours() + \":\" +\n        run.getMinutes()+ \":\" +\n        run.getSeconds();\n        global.set('RUNTIMER',run);\n    }\nelse if (Number(msg.STATE) === 3)\n{\n    charge.setTime(Number(msg.timestamp));\n    msg.payload=\"Start Charge Time:\" +\n        charge.getHours() + \":\" +\n        charge.getMinutes()+ \":\" +\n        charge.getSeconds();\n    global.set('CHARGTIMER',charge);\n}\nelse if (Number(msg.STATE) === 4)\n{\n    msg.payload=\"IDLE Time\";\n    global.set('CHARGTIMER',charge);\n    global.set('RUNTIMER',run);\n}\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":185,"wires":[["96aad84f.367d8","1bbc5200.e23ff6"]]},{"id":"8e40b244.2b85c","type":"function","z":"d045c90.d8d5438","name":"Inside","func":"if(msg.topic==\"MOWERSTATUS\")\n  {  msg.payload = msg.INOUT;\nreturn msg;\n}","outputs":1,"noerr":0,"x":392,"y":357,"wires":[["1477b7c7.ff0f5"]]},{"id":"db23d60d.98882","type":"comment","z":"99582503.22a938","name":"Api","info":"enum API_STATUS_CODE {\n  OK=1,\n  ERROR=2,\n  ARGUMENT_FAILED=3\n};\n\nenum API_COMMAND {\n  /* Notify 0-->99 */\n  HEARTBEAT=4,\n  NOTIFY=10,\n  SUBSCRIBE=11,\n  DEBUG=90,\n  ONLINE=99,\n  /* GetCommands 100-->199 */\n  GetCommands=100,\n  GetMowerStatus=101,\n  GetState=102,\n  GetBattery=103,\n  GetSensor=104,\n  GetMotor=105, // ;105:MOTOR[0=left,1=Right,2=cutter]#\n  GetSlowWheelWhenDocking=106,\n  GetWheelOverloadLevel = 107,\n\n/* Set commands 200-->299 */\n  SetState=202,   /* state */\n  SetBattery=203, /* battype,min,max,gohome */\n  SetMotor=205, //;205:MOTOR[0=left,1=Right,2=cutter]:SPEED# speed -100 --> 100\n  SetSlowWheelWhenDocking=206, /* value */\n  SetWheelOverloadLevel = 207, /* value */\n\n  SetFirstByteToFalse=998 /* <;998# > */\n};\n","x":735.5,"y":38,"wires":[]},{"id":"226655a1.72beda","type":"serial out","z":"6f8c6321.2ebca4","name":"","serial":"920089d8.162818","x":558,"y":134,"wires":[]},{"id":"8bdc186f.b76068","type":"function","z":"6f8c6321.2ebca4","name":"","func":"msg.payload+=\"#\\r\"\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":180,"wires":[["226655a1.72beda","abe78cb8.16954"]]},{"id":"9b7df733.fad598","type":"comment","z":"6f8c6321.2ebca4","name":"API","info":"enum API_STATUS_CODE {\n  OK=1,\n  ERROR=2,\n  ARGUMENT_FAILED=3\n};\n\nenum API_COMMAND {\n  /* Notify 0-->99 */\n  HEARTBEAT=4,\n  NOTIFY=10,\n  SUBSCRIBE=11,\n  DEBUG=90,\n  ONLINE=99,\n  /* GetCommands 100-->199 */\n  GetCommands=100,\n  GetMowerStatus=101,\n  GetState=102,\n  GetBattery=103,\n  GetSensor=104,\n  GetMotor=105, // ;105:MOTOR[0=left,1=Right,2=cutter]#\n  GetSlowWheelWhenDocking=106,\n  GetWheelOverloadLevel = 107,\n\n/* Set commands 200-->299 */\n  SetState=202,   /* state */\n  SetBattery=203, /* battype,min,max,gohome */\n  SetMotor=205, //;205:MOTOR[0=left,1=Right,2=cutter]:SPEED# speed -100 --> 100\n  SetSlowWheelWhenDocking=206, /* value */\n  SetWheelOverloadLevel = 207, /* value */\n\n  SetFirstByteToFalse=998 /* <;998# > */\n};","x":564.5,"y":49,"wires":[]},{"id":"d5d13ee5.066458","type":"switch","z":"99582503.22a938","name":"API","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"101","vt":"num"},{"t":"eq","v":"103","vt":"num"},{"t":"eq","v":"104","vt":"num"},{"t":"eq","v":"106","vt":"num"},{"t":"eq","v":"102","vt":"num"},{"t":"eq","v":"202","vt":"num"},{"t":"eq","v":"99","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"105","vt":"str"},{"t":"eq","v":"107","vt":"num"},{"t":"eq","v":"500","vt":"num"},{"t":"eq","v":"501","vt":"num"}],"checkall":"true","outputs":13,"x":183.5,"y":245,"wires":[["69139f07.cede4"],["d9f1d72.53070a8"],["c1481ae9.b587c"],["a48b5113.ffe5a8"],["b5cea1a7.9ea8f"],["313c6936.cfcfd6"],["313c6936.cfcfd6"],["aee401df.f6a668"],["a21f5373.d21428"],["3bdb3e6.53c81c2"],["7c0289e3.d9bb4"],["84826c36.0c65c8"],["cb71a217.f956d8"]]},{"id":"c1481ae9.b587c","type":"link out","z":"99582503.22a938","name":"SOC","links":["b899d99f.56a5f8","d3212def.2a0798","48c5790b.feb2f"],"x":704.5,"y":176,"wires":[]},{"id":"a48b5113.ffe5a8","type":"link out","z":"99582503.22a938","name":"LMOTOR","links":["2131bfef.181348"],"x":703,"y":215,"wires":[]},{"id":"313c6936.cfcfd6","type":"link out","z":"99582503.22a938","name":"GetState","links":["63068b7.29f2bf4"],"x":701,"y":299,"wires":[]},{"id":"aee401df.f6a668","type":"link out","z":"99582503.22a938","name":"CommandToArduino","links":["a11dce.7f6fda3"],"x":701,"y":339,"wires":[]},{"id":"f833f53f.367f78","type":"debug","z":"99582503.22a938","name":"inout","active":false,"console":"false","complete":"true","x":238,"y":645,"wires":[]},{"id":"7a4f66ea.784cb","type":"link out","z":"6f8c6321.2ebca4","name":"API-out","links":["38c4f594.060fea"],"x":358,"y":58,"wires":[]},{"id":"f42b4e1d.1792a","type":"serial in","z":"6f8c6321.2ebca4","name":"Arduino","serial":"920089d8.162818","x":90,"y":60,"wires":[["82e7c291.3f30d","c64a11a3.0b94e"]]},{"id":"daf2cddd.80766","type":"debug","z":"99582503.22a938","name":"","active":false,"console":"false","complete":"true","x":273,"y":26,"wires":[]},{"id":"38c4f594.060fea","type":"link in","z":"99582503.22a938","name":"API","links":["7a4f66ea.784cb"],"x":147,"y":24,"wires":[["f3ec3217.192628"]]},{"id":"82e7c291.3f30d","type":"debug","z":"6f8c6321.2ebca4","name":"","active":true,"console":"false","complete":"true","x":257.5,"y":20,"wires":[]},{"id":"f3ec3217.192628","type":"function","z":"99582503.22a938","name":"","func":"if(msg.payload[0]!=';')\n    return null;\nmsg.payload=msg.payload.substr(1);\n//msg.payload = msg.payload.replace(/\\r?\\n|\\r/g, \" \");\n//msg.payload = msg.payload.trim();\nvar output = msg.payload.split(':');\n \nvar com = parseInt(output[0]);\nmsg.topic = com;\nmsg.timestamp = Math.round(+new Date());\n\nreturn msg;","outputs":"1","noerr":0,"x":108.5,"y":91,"wires":[["daf2cddd.80766","d5d13ee5.066458"]]},{"id":"c0e01bb7.dacba","type":"inject","z":"99582503.22a938","name":"","topic":"","payload":"ed;102:2:1100:1700:1120:1145","payloadType":"str","repeat":"","crontab":"","once":false,"x":99.5,"y":139,"wires":[["f3ec3217.192628"]]},{"id":"69139f07.cede4","type":"link out","z":"99582503.22a938","name":"NOTIFY","links":[],"x":700,"y":96,"wires":[]},{"id":"5d7ff03b.e0279","type":"function","z":"d045c90.d8d5438","name":"Loop","func":"\nmsg.payload = msg.LOOPTIME;\nreturn msg;","outputs":1,"noerr":0,"x":385,"y":461,"wires":[["f2bf538.720c33","8ca782cd.2f56c"]]},{"id":"f2bf538.720c33","type":"debug","z":"d045c90.d8d5438","name":"INOUT","active":false,"console":"false","complete":"true","x":559,"y":511,"wires":[]},{"id":"23ad6a1a.5b3716","type":"ui_dropdown","z":"b3b5cce2.49fbb","name":"","label":"Mower State","place":"Select option","group":"d339fa32.f383c","order":5,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":505.5,"y":200,"wires":[["57b09031.297dd8"]]},{"id":"96a1aa5c.abe23","type":"link out","z":"b3b5cce2.49fbb","name":"SewtState","links":["7c8773e6.e46a3c"],"x":764.5,"y":430,"wires":[]},{"id":"57b09031.297dd8","type":"function","z":"b3b5cce2.49fbb","name":"UserSetState","func":"var state = global.get('STATE');\nvar num = state[msg.payload].value;\nvar temp = state[msg.payload].name;\nmsg.payload = \";202:\"+num;\nmsg.TEMP=temp;\nreturn msg;","outputs":1,"noerr":0,"x":708.5,"y":201,"wires":[["f76de6b3.f91388","96a1aa5c.abe23"]]},{"id":"7c8773e6.e46a3c","type":"link in","z":"6f8c6321.2ebca4","name":"CommandsToArduino","links":["1c04a8dd.6a51bf","2bddce07.1abc1a","96a1aa5c.abe23","dd8033d5.69afd8","f1240007.fcfcc","1872d915.0175bf","657718e7.25567"],"x":272.5,"y":284,"wires":[["8bdc186f.b76068","ebe7c16f.952468"]]},{"id":"dbe8981f.b15d4","type":"link in","z":"d045c90.d8d5438","name":"GetMowerStatus","links":["d9f1d72.53070a8"],"x":224,"y":567,"wires":[["6c741441.47033c","2ed82658.0876d2"]]},{"id":"6c741441.47033c","type":"function","z":"d045c90.d8d5438","name":"GetMowerStatus","func":"var compass = msg.payload.split(':')[1];\nvar inout=msg.payload.split(':')[2];\nvar LMotorLoad=msg.payload.split(':')[3];\nvar RMotorLoad=msg.payload.split(':')[4];\nvar state=msg.payload.split(':')[5];\nvar soc=msg.payload.split(':')[6];\nvar ErrorCode=msg.payload.split(':')[7];\nvar CutterLoad=msg.payload.split(':')[8];\nvar LMotorSpeed=msg.payload.split(':')[9];\nvar RMotorSpeed=msg.payload.split(':')[10];\nvar CutterMotorSpeed=msg.payload.split(':')[11];\nvar looptime=msg.payload.split(':')[12];\nmsg.COMPASS=compass;\nmsg.INOUT=inout;\nmsg.LMLOAD=LMotorLoad;\nmsg.RMLOAD=RMotorLoad;\nmsg.STATE=state;\nmsg.SOC=soc;\nmsg.ERRORCODE=ErrorCode;\nmsg.CUTTERLOAD=CutterLoad;\nmsg.LMSPEED=LMotorSpeed;\nmsg.RMSPEDD=RMotorSpeed;\nmsg.CUTTERSPEED=CutterMotorSpeed;\nmsg.LOOPTIME=looptime;\nmsg.topic = \"MOWERSTATUS\";\nreturn msg;","outputs":1,"noerr":0,"x":144,"y":374,"wires":[["5d7ff03b.e0279","3c263c4a.5fc7bc","d004b5e5.6fe42","8e40b244.2b85c"]]},{"id":"63068b7.29f2bf4","type":"link in","z":"b3b5cce2.49fbb","name":"SET-STATE","links":["313c6936.cfcfd6","3c263c4a.5fc7bc"],"x":140.5,"y":323,"wires":[["a1029212.805508","a334a33d.284438","b1541a64.9bd22"]]},{"id":"a1029212.805508","type":"function","z":"b3b5cce2.49fbb","name":"Behöver byggas om","func":"//if(msg.topic!=\"NOTIFY\")\n  //  return;\nvar oldstate=global.get('Current_STATE');\nif(oldstate == msg.STATE)\n    return; // samma status som tidigare.. \nvar havesetgoout = flow.get('HaveSetGoOut')||false;\nvar cut = global.get('TimeToCut');\n\nif(!cut) // om vi inte ska klippa mer.. \n{\n    if(msg.STATE==4) // om status == 4 så lämna bara\n        return;\n    \n    flow.set('HaveSetGoOut',false); // sätt denna till false inför morgonen..    \n    \n    var msg2 ={payload:\";11:4\"}; // annars sätt status till IDLE\n    return [msg,msg2];\n}\nelse if(cut &! havesetgoout) // vi ska klippa och bool är false så vi ska ställa den till true\n{\n   if(msg.STATE==4)// men bara vid status 4\n    {\n        flow.set('HaveSetGoOut',true);\n        var msg3 =  {payload:\";11:3\"}; // ställ charging\n        return[msg,msg3]\n    }\n}\nelse\n\nreturn [msg,null];","outputs":"2","noerr":0,"x":298,"y":415,"wires":[["9e7325d7.27bf78"],[]]},{"id":"f76de6b3.f91388","type":"debug","z":"b3b5cce2.49fbb","name":"","active":true,"console":"false","complete":"true","x":808.5,"y":575,"wires":[]},{"id":"3c263c4a.5fc7bc","type":"link out","z":"d045c90.d8d5438","name":"STATE","links":["48c5790b.feb2f","63068b7.29f2bf4","d3212def.2a0798","ef7f25d9.ec3878"],"x":645.5,"y":429,"wires":[]},{"id":"b1541a64.9bd22","type":"link out","z":"b3b5cce2.49fbb","name":"SetStateViaNotify","links":["cb078a2d.1a4c4"],"x":277,"y":251,"wires":[]},{"id":"d9f1d72.53070a8","type":"link out","z":"99582503.22a938","name":"GetMowerStatus","links":["dbe8981f.b15d4"],"x":702,"y":133,"wires":[]},{"id":"ebb50fc0.19c7a8","type":"debug","z":"1d783821.d62c9","name":"","active":false,"console":"false","complete":"true","x":850.5,"y":111,"wires":[]},{"id":"f1240007.fcfcc","type":"link out","z":"1d783821.d62c9","name":"","links":["7c8773e6.e46a3c"],"x":551.5,"y":288,"wires":[]},{"id":"d3212def.2a0798","type":"link in","z":"1d783821.d62c9","name":"GetBattery","links":["c1481ae9.b587c","3c263c4a.5fc7bc"],"x":150.5,"y":128,"wires":[["7fb7b908.5aaf1","893f6314.90eb6"]]},{"id":"7fb7b908.5aaf1","type":"function","z":"1d783821.d62c9","name":"BatteryStat","func":"if(msg.topic==\"MOWERSTATUS\")\n{\n    var soc = { payload:Number(msg.SOC/100)};\n    return [null,null,null,soc,null];\n}\nelse if (msg.topic===103)\n{\nvar values = msg.payload.split(':');\n\nmsg.payload=values;\nvar types=[];\ntypes[0] = \"LEAD ACID\";\ntypes[1] = \"NMHI\";\ntypes[2] = \"LIION\";\n\nvar type = { payload:types[values[1]]};\nflow.set('BATTERY-TYPE',values[1]);\n\nvar min = { payload:values[2]};\nflow.set('BATTERY-MIN',values[2]);\n\nvar full = { payload:values[3]};\nflow.set('BATTERY-MAX',values[3]);\n\nvar soc = { payload:Number(values[5]/100)\n \n};\nmsg.options = types;\nmsg.battype = type;\n\nreturn [msg, min, full, soc,msg];\n}\n\n\n","outputs":"5","noerr":0,"x":289.5,"y":131,"wires":[["cf354c6a.7789c8","6515e6c2.db9de"],["5bd225b2.632494"],["2da79e1f.34fe0a"],["50f224e6.600f94"],[]]},{"id":"cf354c6a.7789c8","type":"ui_text","z":"1d783821.d62c9","group":"a2a73f6c.42a38","order":1,"width":0,"height":0,"name":"BatType","label":"Battery Type","format":"{{msg.battype}}","layout":"col-center","x":660.5,"y":20,"wires":[]},{"id":"16c93fb3.a4e4b8","type":"debug","z":"1d783821.d62c9","name":"","active":true,"console":"false","complete":"true","x":789,"y":316,"wires":[]},{"id":"8ca782cd.2f56c","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":1,"width":0,"height":0,"name":"","label":"LoopDelay ","format":"{{msg.payload}} ms","layout":"row-center","x":563.5,"y":464,"wires":[]},{"id":"5bd225b2.632494","type":"ui_text_input","z":"1d783821.d62c9","name":"Min","label":"Min","group":"a2a73f6c.42a38","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"MIN","x":514.5,"y":44,"wires":[["15fb5fda.f261e"]]},{"id":"2da79e1f.34fe0a","type":"ui_text_input","z":"1d783821.d62c9","name":"Max","label":"MaxLevel","group":"a2a73f6c.42a38","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"MAX","x":509,"y":100,"wires":[["15fb5fda.f261e"]]},{"id":"50f224e6.600f94","type":"ui_text","z":"1d783821.d62c9","group":"a2a73f6c.42a38","order":4,"width":0,"height":0,"name":"SOC","label":"SOC","format":"{{msg.payload}}","layout":"row-spread","x":503,"y":148,"wires":[]},{"id":"a34a0db4.0ef1f","type":"ui_button","z":"1d783821.d62c9","name":"Get Battery stats","group":"a2a73f6c.42a38","order":5,"width":0,"height":0,"passthru":false,"label":"Get Battery Status","color":"","bgcolor":"","icon":"","payload":";102","payloadType":"str","topic":"","x":294.5,"y":357,"wires":[["f1240007.fcfcc"]]},{"id":"f70c0d0f.077418","type":"ui_button","z":"1d783821.d62c9","name":"Set Battery stats","group":"a2a73f6c.42a38","order":6,"width":0,"height":0,"passthru":false,"label":"Set Values","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":493,"y":227,"wires":[["c4dd1a06.7dc2b8"]]},{"id":"c4dd1a06.7dc2b8","type":"function","z":"1d783821.d62c9","name":"User Set button","func":"var min = flow.get('BATTERY-MIN');\nvar max = flow.get('BATTERY-MAX');\nvar type =flow.get('BATTERY-TYPE');\nif(min==\"NaN\" ||max==\"NaN\"||type==\"NaN\" )\nmsg.payload=\"Detta gick inte\";\nelse\n{\nmsg.payload = \";203:\"+ \ntype+\n\":\"+\nmin+\n\":\"+\nmax+\n\":\"+\nmin;\n}\nreturn msg;","outputs":1,"noerr":0,"x":710.5,"y":223,"wires":[["16c93fb3.a4e4b8","f1240007.fcfcc"]]},{"id":"15fb5fda.f261e","type":"function","z":"1d783821.d62c9","name":"User selected values","func":"if(msg.topic==\"MIN\")\n{\n    msg.topic=\"MINUS\";\n    flow.set('BATTERY-MIN',msg.payload);\n    \n}\nif(msg.topic==\"MAX\")\n{\n    msg.topic = \"PLUS\";\n    flow.set('BATTERY-MAX',msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":54,"wires":[["ebb50fc0.19c7a8"]]},{"id":"abe78cb8.16954","type":"debug","z":"6f8c6321.2ebca4","name":"","active":false,"console":"false","complete":"true","x":534,"y":201,"wires":[]},{"id":"893f6314.90eb6","type":"debug","z":"1d783821.d62c9","name":"","active":false,"console":"false","complete":"true","x":189,"y":42,"wires":[]},{"id":"3d393cfa.92f264","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":0,"width":0,"height":0,"name":"","label":"Cutting Time","format":"{{msg.payload}}","layout":"row-left","x":354.5,"y":40,"wires":[]},{"id":"d004b5e5.6fe42","type":"function","z":"d045c90.d8d5438","name":"Set Text","func":"var value = global.get('TimeToCut');\nif(value)\n    msg.payload = \"Yes it is\";\nelse\n    msg.payload = \"No, Sleeping Time\";\nreturn msg;","outputs":1,"noerr":0,"x":136,"y":52,"wires":[["3d393cfa.92f264"]]},{"id":"10ff900e.f799a","type":"inject","z":"1d783821.d62c9","name":"Get Battery","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":557,"y":358,"wires":[["c4dd1a06.7dc2b8"]]},{"id":"263e1fb.827966","type":"function","z":"9cf35c49.3bead8","name":"Timer","func":"\nvar cs = Number(global.get('Current_STATE'));\nmsg.CS=cs;\nvar timer;\nswitch (cs) {\n    case 0:\n    case 1:\n    case 2:\n       timer = Number(global.get('RUNTIMER'));\n       timer++;\n       global.set('RUNTIMER',timer);\n        break;\n    case 3:\n        timer = Number(global.get('CHARGETIMER'));\n        timer++;\n        global.set('CHARGETIMER',timer);\n        break;\n    case 4:\n         timer = Number(global.get('IDLETIMER'));\n         timer++;\n         global.set('IDLETIMER',timer);\n       break;\n    \n    default:\n        return;\n}\nmsg.MINTIMER=timer;\n\n/*Mowing : {value: 0, name: \"Mowing\"}, \n  Launching: {value: 1, name: \"Launching\"}, \n  Docking : {value: 2, name: \"Docking\"},\n  Charging : {value: 3, name: \"Charging\"},\n  IDLE : {value: 4, name: \"IDLE\"},\n  ERROR : {value: 5, name: \"ERROR\"}*/\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":98,"wires":[["be9e1c36.e78e88"]]},{"id":"9f24c895.bf4c58","type":"function","z":"9cf35c49.3bead8","name":"STATE","func":"var State = {\n  Mowing : {value: 0, name: \"Mowing\"}, \n  Launching: {value: 1, name: \"Launching\"}, \n  Docking : {value: 5, name: \"Docking\"},\n  Charging : {value: 3, name: \"Charging\"},\n  IDLE : {value: 4, name: \"IDLE\"}\n  //PREDOCK : {value: 5, name: \"PREDOCK\"}\n};\n// tar bort Docking och sätter värdet predock istället\nmsg.state=State;\n\nvar runTime=new Date();\nvar ChargeTime = new Date();\n\nvar maincounter = 0;\nglobal.set('MAIN-COUNTER',maincounter);\nglobal.set('STATE',State)\nglobal.set('RUNTIMER',runTime);\nglobal.set('CHARGTIMER',ChargeTime);\n\n\nvar batteryarray=[];\n\nglobal.set('CHARGE_SOC',batteryarray);\n\n\n\n////******** API  ********/////////\n/*\nenum API_STATUS_CODE {\n  OK=1,\n  ERROR=2,\n  ARGUMENT_FAILED=3\n}*/\n/*enum API_COMMAND {\n  /* Notify 0-->99 */\n/*  HEARTBEAT=4,\n  NOTIFY=10,\n  SUBSCRIBE=11,\n  DEBUG=90,\n  ONLINE=99, */\n  /* GetCommands 100-->199 */\n /* \n  GetCommands=100,\n  GetMowerStatus=101,\n  GetState=102,\n  GetBattery=103,\n  GetSensor=104,\n  GetMotor=105, // ;105:MOTOR[0=left,1=Right,2=cutter]#\n  GetSlowWheelWhenDocking=106,\n  GetWheelOverloadLevel = 107,\n*/\n/* Set commands 200-->299 */\n//  SetState=202,   /* state */\n // SetBattery=203, /* battype,min,max,gohome */\n // SetMotor=205, //;205:MOTOR[0=left,1=Right,2=cutter]:SPEED# speed -100 --> 100\n // SetSlowWheelWhenDocking=206, /* value */\n // SetWheelOverloadLevel = 207, /* value */\n\n  //SetFirstByteToFalse=998  /* <;998# > */\n//};\n\n\n////******** API  ********/////////\n\n\n\n\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":166,"wires":[["be9e1c36.e78e88"]]},{"id":"6e014029.78b8f","type":"inject","z":"9cf35c49.3bead8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119.5,"y":94,"wires":[["263e1fb.827966"]]},{"id":"8f86af2c.913a2","type":"inject","z":"9cf35c49.3bead8","name":"","topic":"","payload":"IDLE","payloadType":"str","repeat":"","crontab":"","once":false,"x":141.5,"y":283,"wires":[["ab0a6c46.dfd5b8"]]},{"id":"ab0a6c46.dfd5b8","type":"function","z":"9cf35c49.3bead8","name":"TEST","func":"var state = global.get('STATE');\nvar num = state[msg.payload].value;\nvar arr = [];\nfor(var i in state){\n    var type = state[i].name;\n    arr.push(type);\n}\nmsg.payload=arr;\nmsg.TEST=num;\nreturn msg;","outputs":1,"noerr":0,"x":352.5,"y":275,"wires":[["e954ce46.1b9cc8"]]},{"id":"e954ce46.1b9cc8","type":"debug","z":"9cf35c49.3bead8","name":"","active":true,"console":"false","complete":"true","x":515.5,"y":277,"wires":[]},{"id":"a81bee7.790159","type":"inject","z":"9cf35c49.3bead8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":126.5,"y":163,"wires":[["9f24c895.bf4c58"]]},{"id":"9e7325d7.27bf78","type":"debug","z":"b3b5cce2.49fbb","name":"","active":false,"console":"false","complete":"true","x":552,"y":342,"wires":[]},{"id":"21f06000.70359","type":"bigtimer","z":"9cf35c49.3bead8","outtopic":"","outpayload1":"TimeToCut","outpayload2":"TimeToGoHome","name":"Big Timer","lat":"","lon":"","starttime":"600","endtime":"1260","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":495,"y":176.5,"wires":[["5284fbb0.981454","e8d92bd4.e4b4d"],["ce51496f.cad418"],["da7ad31d.68972"]]},{"id":"5284fbb0.981454","type":"debug","z":"9cf35c49.3bead8","name":"TimeDebug","active":false,"console":"false","complete":"true","x":679.5,"y":147,"wires":[]},{"id":"ce51496f.cad418","type":"debug","z":"9cf35c49.3bead8","name":"TimeDebug","active":false,"console":"false","complete":"true","x":742.5,"y":205,"wires":[]},{"id":"da7ad31d.68972","type":"debug","z":"9cf35c49.3bead8","name":"TimeDebug","active":false,"console":"false","complete":"true","x":735.5,"y":253,"wires":[]},{"id":"51aa3432.966e14","type":"inject","z":"9cf35c49.3bead8","name":"","topic":"","payload":"auto","payloadType":"str","repeat":"","crontab":"","once":false,"x":538,"y":63,"wires":[["21f06000.70359"]]},{"id":"e8d92bd4.e4b4d","type":"function","z":"9cf35c49.3bead8","name":"Setting TimeToCutBOOL","func":"if(msg.payload==\"TimeToCut\")\n    global.set('TimeToCut',true);\nif(msg.payload==\"TimeToGoHome\")\n    global.set('TimeToCut',false);\n ","outputs":1,"noerr":0,"x":719.5,"y":109,"wires":[[]]},{"id":"be9e1c36.e78e88","type":"debug","z":"9cf35c49.3bead8","name":"","active":false,"console":"false","complete":"true","x":443,"y":100,"wires":[]},{"id":"7d8e1227.8e2604","type":"comment","z":"b3b5cce2.49fbb","name":"Hur funkar detta.","info":"kolla Om det är samma status som tidigare. \nOm return\n\nannars. \nSkapa msg1 som ställer text i drop down list. //klar\nskapa msg2 som ändrar text för tid om det behövs. EJ KLART\nskapa msg3 som kollar om det är tid att vila eller inte. EJ KLART\n","x":312.5,"y":64,"wires":[]},{"id":"a334a33d.284438","type":"function","z":"b3b5cce2.49fbb","name":"SetState","func":"var oldstate=global.get('Current_STATE');\nif(oldstate == msg.STATE)\n    return; // samma status som tidigare..\n// om vi kommer hit så är det inte samma status.. uppdatera UI timers.\nvar STATE = 0;\nif(msg.topic==\"MOWERSTATUS\")\n{\n    STATE = msg.STATE;\n}\nelse\n{\n    STATE=Number(msg.payload.split(':')[1]);\n}\n/*\nif(STATE == 300) // state change\n{\n    msg.payload = \";102\";\n    return [null,msg];\n}\nelse\n{*/\n    msg.STATE=STATE;\n    var state = global.get('STATE');\n    var arr = [];\n    for(var i in state){\n        var type = state[i].name;\n        arr.push(type);\n    }\n    msg.options=arr;\n    msg.payload = msg.options[msg.STATE];\n    global.set('Current_STATE',msg.STATE);\n//}\nreturn [msg,msg];\n","outputs":"2","noerr":0,"x":311,"y":199,"wires":[["23ad6a1a.5b3716","4be1776a.b8c91"],["4be1776a.b8c91","1b1eb3cc.8bcd44"]]},{"id":"1661f567.4ffa7b","type":"inject","z":"d045c90.d8d5438","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":817.5,"y":99,"wires":[["65b321fd.466e98"]]},{"id":"429fe972.fe09b","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":2,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":839,"y":191,"wires":[]},{"id":"65b321fd.466e98","type":"function","z":"d045c90.d8d5438","name":"Timer","func":"var run=global.get('RUNTIMER');\nvar charge=global.get('CHARGTIMER');\nvar state = global.get('Current_STATE');\nmsg.timestamp = Math.round(+new Date());\nmsg.CHARGE=false;\nmsg.MOWE=false;\nvar h,m,s;\nvar localtime;\n\nif(Number(state)===0)\n    {\n        localtime = run;\n\nmsg.MOWE=true;\n\n    }\nelse if (Number(state) === 3)\n{\n\n    localtime = charge;\n\n    msg.CHARGE=true;\n}\nelse {\n    return null;\n}\n    var time = new Date();\n    time.setTime(msg.timestamp-\n    localtime.getTime());\n    h = time.getHours();\n    m = time.getMinutes();\n    s = time.getSeconds();\n    if(h>0)\n    h--;\n    if(h < 10)\n    h = \"0\"+h;\n    if(m < 10)\n    m = \"0\"+m;\n    if(s < 10)\n    s = \"0\"+s;\n    \n    msg.payload=\"Timer :\" + \n    h + \":\"+\n    m+ \":\"+\n    s;\n        \nreturn msg;","outputs":1,"noerr":0,"x":808,"y":150,"wires":[["429fe972.fe09b","e841c5f2.f4ecd8"]]},{"id":"e841c5f2.f4ecd8","type":"debug","z":"d045c90.d8d5438","name":"Timer","active":false,"console":"false","complete":"true","x":863,"y":280,"wires":[]},{"id":"b5cea1a7.9ea8f","type":"link out","z":"99582503.22a938","name":"SOC","links":["bb053a7f.daa868","74a789d4.d2d6c"],"x":702,"y":258,"wires":[]},{"id":"ea55831c.75716","type":"catch","z":"6f8c6321.2ebca4","name":"","scope":null,"x":83.5,"y":356,"wires":[["b65b8cd4.9a6b88"]]},{"id":"bd440639.b76aa","type":"link out","z":"6f8c6321.2ebca4","name":"TRY AGAIN","links":["109042d5.449065","bb053a7f.daa868","878f367b.831d3","74a789d4.d2d6c"],"x":385,"y":358,"wires":[]},{"id":"ebe7c16f.952468","type":"debug","z":"6f8c6321.2ebca4","name":"","active":false,"console":"false","complete":"true","x":521,"y":263,"wires":[]},{"id":"b65b8cd4.9a6b88","type":"delay","z":"6f8c6321.2ebca4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":247.5,"y":361,"wires":[["bd440639.b76aa"]]},{"id":"20ca6eb0.61007a","type":"inject","z":"b3b5cce2.49fbb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":118.5,"y":122,"wires":[["a3bae795.f7a83"]]},{"id":"a3bae795.f7a83","type":"function","z":"b3b5cce2.49fbb","name":"Needs to be checked if needed","func":"flow.set('HaveSetGoOut',false); // sätt denna till false inför morgonen..    \n","outputs":"1","noerr":0,"x":356,"y":119,"wires":[[]]},{"id":"4d73ea99.039cec","type":"bcrypt","z":"99582503.22a938","name":"","action":"encrypt","field":"payload","hash":"payload","rounds":10,"x":103.5,"y":640,"wires":[["f833f53f.367f78"]]},{"id":"316ad9f0.c681d6","type":"inject","z":"99582503.22a938","name":"kör denna för att generera ett lösen till Node Red ","topic":"","payload":"DITT LÖSEN HÄR","payloadType":"str","repeat":"","crontab":"","once":false,"x":209,"y":605,"wires":[["4d73ea99.039cec"]]},{"id":"643ecda2.e8df94","type":"ui_button","z":"1d783821.d62c9","name":"Get Left sensor","group":"d621a726.b45db8","order":7,"width":0,"height":0,"passthru":false,"label":"Sensor Left","color":"","bgcolor":"","icon":"","payload":";104:0","payloadType":"str","topic":"Left","x":270,"y":461,"wires":[["f1240007.fcfcc"]]},{"id":"b03eb69f.c62048","type":"ui_button","z":"1d783821.d62c9","name":"Get Right sensor","group":"d621a726.b45db8","order":8,"width":0,"height":0,"passthru":false,"label":"Sensor Right","color":"","bgcolor":"","icon":"","payload":";104:1","payloadType":"str","topic":"Right","x":259,"y":518,"wires":[["f1240007.fcfcc"]]},{"id":"dafb2bd7.7fa178","type":"ui_text","z":"1d783821.d62c9","group":"d621a726.b45db8","order":9,"width":0,"height":0,"name":"Sensor","label":"Sensor {{msg.topic}}","format":"{{msg.payload}}","layout":"col-center","x":440,"y":558,"wires":[]},{"id":"2131bfef.181348","type":"link in","z":"1d783821.d62c9","name":"Get Sensors","links":["a48b5113.ffe5a8"],"x":212,"y":564,"wires":[["dafb2bd7.7fa178","757b2d92.744784"]]},{"id":"757b2d92.744784","type":"debug","z":"1d783821.d62c9","name":"","active":false,"console":"false","complete":"true","x":425,"y":598,"wires":[]},{"id":"a0b4c103.0fc93","type":"function","z":"9cf35c49.3bead8","name":"GetBattery","func":"msg.payload=\";103\";\nmsg.topic=\"INIT:103\";\nreturn msg;","outputs":1,"noerr":0,"x":316,"y":422,"wires":[["50f5a25f.adccdc"]]},{"id":"a11dce.7f6fda3","type":"link in","z":"9cf35c49.3bead8","name":"InputPointWhenOnline","links":["aee401df.f6a668"],"x":165.5,"y":400,"wires":[["a0b4c103.0fc93","4e259970.d7137","e4e5013b.dfa53","73c4ab10.c4622c"]]},{"id":"f338d70c.bdeb58","type":"delay","z":"9cf35c49.3bead8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":495,"y":477,"wires":[["1c04a8dd.6a51bf"]]},{"id":"4e259970.d7137","type":"function","z":"9cf35c49.3bead8","name":"GetSlowWheel","func":"msg.payload=\";106\";\nmsg.topic=\"INIT:106\";\nreturn msg;","outputs":1,"noerr":0,"x":321,"y":478,"wires":[["f338d70c.bdeb58"]]},{"id":"50f5a25f.adccdc","type":"delay","z":"9cf35c49.3bead8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":496,"y":414,"wires":[["1c04a8dd.6a51bf"]]},{"id":"e4e5013b.dfa53","type":"function","z":"9cf35c49.3bead8","name":"GetState","func":"msg.payload=\";102\";\nmsg.topic=\"INIT:102\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":368,"wires":[["78ef3681.8c9bb"]]},{"id":"1c04a8dd.6a51bf","type":"link out","z":"9cf35c49.3bead8","name":"GetInitValues","links":["7c8773e6.e46a3c"],"x":696,"y":403,"wires":[]},{"id":"a21f5373.d21428","type":"link out","z":"99582503.22a938","name":"SetHeartBeatStatus","links":["53432adc.2de23c"],"x":705,"y":380,"wires":[]},{"id":"95998e59.90473","type":"ui_text","z":"d045c90.d8d5438","group":"d339fa32.f383c","order":0,"width":0,"height":0,"name":"HeartBeatIndicator","label":"Uptime","format":"{{msg.payload}}","layout":"col-center","x":633,"y":40,"wires":[]},{"id":"53432adc.2de23c","type":"link in","z":"d045c90.d8d5438","name":"HeartBeat","links":["a21f5373.d21428"],"x":178,"y":96,"wires":[["bfce3c46.06864"]]},{"id":"bfce3c46.06864","type":"function","z":"d045c90.d8d5438","name":"HeartBeat","func":"var sec=msg.payload.split(':')[1];\nvar m=Math.floor(sec/60);\nvar h=Math.floor(m/60);\n\nif(sec>59)\n    sec = sec - (m*60);\nif(sec<10)\n    sec=\"0\"+sec;\nif(m>59)\n    m = m - (h*60);\nif(m<10)\n    m=\"0\"+m;\nif(h<10)\n    h=\"0\"+h;\n\nmsg.payload = h+\":\"+m+\":\"+sec;\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":87,"wires":[["95998e59.90473","50e3283a.003fb"]]},{"id":"4be1776a.b8c91","type":"debug","z":"b3b5cce2.49fbb","name":"","active":true,"console":"false","complete":"true","x":300,"y":342,"wires":[]},{"id":"78ef3681.8c9bb","type":"delay","z":"9cf35c49.3bead8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":495,"y":376,"wires":[["1c04a8dd.6a51bf"]]},{"id":"a08856a2.e59de","type":"inject","z":"f76f6e33.ff803","name":"Every Second","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"x":119.5,"y":325,"wires":[["6ca6588f.61424"]]},{"id":"2e60c6da.4003f2","type":"function","z":"f76f6e33.ff803","name":"GetBattery","func":"var state = global.get('Current_STATE');\nif(state === 3 || state ===0)\n{    msg.payload=\";103\";\nreturn [msg,null];\n}\nmsg.payload=state;\nreturn [null,msg];\n\n\n/*\nvar state = global.get('STATE');\nvar arr = [];\nfor(var i in state){\n    var type = state[i].name;\n    arr.push(type);\n}\nmsg.options=arr;\nmsg.payload = msg.options[msg.STATE];\nglobal.set('Current_STATE',msg.STATE);\n\n\n\n\nMowing : {value: 0, name: \"Mowing\"}, \n  Launching: {value: 1, name: \"Launching\"}, \n  Docking : {value: 2, name: \"Docking\"},\n  Charging : {value: 3, name: \"Charging\"},\n  IDLE : {value: 4, name: \"IDLE\"},\n  PREDOCK : {value: 5, name: \"PREDOCK\"}\n  */","outputs":"2","noerr":0,"x":360.5,"y":69,"wires":[["dd8033d5.69afd8","88c6028d.b4fe4"],["ed7569ac.9c31e"]]},{"id":"dd8033d5.69afd8","type":"link out","z":"f76f6e33.ff803","name":"EverySec","links":["7c8773e6.e46a3c"],"x":803.5,"y":277,"wires":[]},{"id":"88c6028d.b4fe4","type":"debug","z":"f76f6e33.ff803","name":"","active":true,"console":"false","complete":"true","x":603.5,"y":27,"wires":[]},{"id":"ed7569ac.9c31e","type":"debug","z":"f76f6e33.ff803","name":"","active":true,"console":"false","complete":"true","x":622,"y":107,"wires":[]},{"id":"c64a11a3.0b94e","type":"split","z":"6f8c6321.2ebca4","name":"Split on #","splt":"#","x":235.5,"y":106,"wires":[["7a4f66ea.784cb"]]},{"id":"2dc79d1a.24b7da","type":"function","z":"f76f6e33.ff803","name":"GetLeftWheelStatus","func":"var count = global.get('MAIN-COUNTER');\ncount++;\nglobal.set('MAIN-COUNTER',count);\n\nvar state = global.get('Current_STATE');\nif(state === 3 || state ===0)\n{    \nif(count%2===0)\n    msg.payload=\";105:0\";\nelse\n    msg.payload=\";105:1\";\n    \nreturn [msg,null];\n}\nmsg.payload=state;\nreturn [null,msg];\n\n\n/*\nvar state = global.get('STATE');\nvar arr = [];\nfor(var i in state){\n    var type = state[i].name;\n    arr.push(type);\n}\nmsg.options=arr;\nmsg.payload = msg.options[msg.STATE];\nglobal.set('Current_STATE',msg.STATE);\n\n\n\n\nMowing : {value: 0, name: \"Mowing\"}, \n  Launching: {value: 1, name: \"Launching\"}, \n  Docking : {value: 2, name: \"Docking\"},\n  Charging : {value: 3, name: \"Charging\"},\n  IDLE : {value: 4, name: \"IDLE\"},\n  PREDOCK : {value: 5, name: \"PREDOCK\"}\n  */","outputs":"2","noerr":0,"x":375,"y":114,"wires":[["88c6028d.b4fe4","770ce6c9.727d5"],[]]},{"id":"3bdb3e6.53c81c2","type":"link out","z":"99582503.22a938","name":"SetMotor","links":["1aee0d2d.9dac7b","45116625.f08ea"],"x":706,"y":421,"wires":[]},{"id":"770ce6c9.727d5","type":"delay","z":"f76f6e33.ff803","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":501.5,"y":217,"wires":[["dd8033d5.69afd8"]]},{"id":"6ca6588f.61424","type":"function","z":"f76f6e33.ff803","name":"GetMowerStatus","func":"\nmsg.payload=\";101\";\n\nreturn msg;\n/*\nvar state = global.get('STATE');\nvar arr = [];\nfor(var i in state){\n    var type = state[i].name;\n    arr.push(type);\n}\nmsg.options=arr;\nmsg.payload = msg.options[msg.STATE];\nglobal.set('Current_STATE',msg.STATE);\n\n\n\n\nMowing : {value: 0, name: \"Mowing\"}, \n  Launching: {value: 1, name: \"Launching\"}, \n  Docking : {value: 2, name: \"Docking\"},\n  Charging : {value: 3, name: \"Charging\"},\n  IDLE : {value: 4, name: \"IDLE\"},\n  PREDOCK : {value: 5, name: \"PREDOCK\"}\n  */","outputs":"1","noerr":0,"x":341,"y":329,"wires":[["dd8033d5.69afd8"]]},{"id":"2ed82658.0876d2","type":"debug","z":"d045c90.d8d5438","name":"DEBUG","active":false,"console":"false","complete":"true","x":814,"y":631,"wires":[]},{"id":"d0b6c10b.f66618","type":"inject","z":"521aa5c9.2efc6c","name":"Get wheel overload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167.5,"y":102.25,"wires":[["10c71650.ecbaca"]]},{"id":"5d2cfecd.8bf558","type":"debug","z":"521aa5c9.2efc6c","name":"","active":false,"console":"false","complete":"true","x":754.5,"y":173.5,"wires":[]},{"id":"10c71650.ecbaca","type":"function","z":"521aa5c9.2efc6c","name":"","func":"msg.payload = \";110\";\nreturn msg;","outputs":1,"noerr":0,"x":470.5,"y":102.75,"wires":[["1872d915.0175bf"]]},{"id":"4e78527b.43a934","type":"comment","z":"521aa5c9.2efc6c","name":"Wheel stuff.","info":"Set slowWheelwhen docking. \nSet wheel overload\nSet wheel full speed\nset wheel slow speed","x":371.5,"y":20,"wires":[]},{"id":"1872d915.0175bf","type":"link out","z":"521aa5c9.2efc6c","name":"FromWheel","links":["7c8773e6.e46a3c"],"x":813.5,"y":107.5,"wires":[]},{"id":"7c0289e3.d9bb4","type":"link out","z":"99582503.22a938","name":"Wheel","links":["85d4ef62.925ce"],"x":704,"y":459,"wires":[]},{"id":"6a0a44b.c403cbc","type":"comment","z":"99582503.22a938","name":"Wheel","info":"","x":621,"y":453,"wires":[]},{"id":"85d4ef62.925ce","type":"link in","z":"521aa5c9.2efc6c","name":"Wheel","links":["7c0289e3.d9bb4"],"x":155.5,"y":293.25,"wires":[["b79d14e1.974848"]]},{"id":"b79d14e1.974848","type":"function","z":"521aa5c9.2efc6c","name":"","func":"var overload=0;\noverload = msg.payload.split(':')[1];\nmsg.payload=overload;\nreturn msg;","outputs":1,"noerr":0,"x":307.5,"y":311.75,"wires":[["bae233f2.9928d8","e42f098.177e0f8"]]},{"id":"1dc9af1c.c626b1","type":"function","z":"521aa5c9.2efc6c","name":"","func":"var overload = msg.payload;\nflow.set('WHEELOVERLOAD',overload);\nmsg.payload = overload;\nreturn msg;","outputs":1,"noerr":0,"x":468,"y":223,"wires":[["bae233f2.9928d8","ba013099.37481"]]},{"id":"bae233f2.9928d8","type":"ui_numeric","z":"521aa5c9.2efc6c","name":"","label":"Wheel Overload","group":"d621a726.b45db8","order":5,"width":0,"height":0,"passthru":false,"topic":"","format":"{{value}}","min":0,"max":"400","step":1,"x":470.5,"y":284.5,"wires":[["1dc9af1c.c626b1","b2d6315c.9575f8"]]},{"id":"559e37e.5877bc8","type":"ui_button","z":"521aa5c9.2efc6c","name":"","group":"d621a726.b45db8","order":6,"width":0,"height":0,"passthru":false,"label":"Set Wheel Values","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":177.5,"y":162.5,"wires":[["5f05f196.a73fa8"]]},{"id":"5f05f196.a73fa8","type":"function","z":"521aa5c9.2efc6c","name":"Set user values","func":"var overload = flow.get('WHEELOVERLOAD')||-1;\nmsg.payload = \";207:\"+overload;\nreturn msg;","outputs":1,"noerr":0,"x":387,"y":181,"wires":[["1872d915.0175bf","5d2cfecd.8bf558"]]},{"id":"e42f098.177e0f8","type":"debug","z":"521aa5c9.2efc6c","name":"","active":false,"console":"false","complete":"true","x":825,"y":312,"wires":[]},{"id":"b2d6315c.9575f8","type":"debug","z":"521aa5c9.2efc6c","name":"","active":true,"console":"false","complete":"true","x":814,"y":268,"wires":[]},{"id":"ba013099.37481","type":"debug","z":"521aa5c9.2efc6c","name":"","active":false,"console":"false","complete":"true","x":816,"y":228,"wires":[]},{"id":"73c4ab10.c4622c","type":"function","z":"9cf35c49.3bead8","name":"Get Wheel Overload level","func":"msg.payload = \";107\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":519,"wires":[["2e72dce7.c93d0c"]]},{"id":"2e72dce7.c93d0c","type":"delay","z":"9cf35c49.3bead8","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":522,"wires":[["1c04a8dd.6a51bf"]]},{"id":"3765ce9f.20644a","type":"file","z":"99582503.22a938","name":"","filename":"/home/pi/battery","appendNewline":true,"createDir":true,"overwriteFile":"false","x":340.5,"y":481.25,"wires":[]},{"id":"84826c36.0c65c8","type":"function","z":"99582503.22a938","name":"CalcSocAvg","func":"var batsoc = global.get('CHARGE_SOC');\nvar len=batsoc.length;\nvar value = msg.payload.split(':')[1];\nif(len>=90)\n{\n    batsoc.pop();\n    batsoc.unshift(value);\n}\nelse\n{\n    batsoc.push(value);\n}\nglobal.set('CHARGE_SOC',batsoc);\nvar socavg=0;\n    for (var i = 0; i < len; i++) {\n        socavg=socavg+Number(batsoc[i]);\n    }\n    socavg=Number(socavg/len);\nmsg.payload=socavg;\nmsg.LEN=len;\nreturn msg;","outputs":"1","noerr":0,"x":182.5,"y":412.75,"wires":[["3765ce9f.20644a","6d9dc51.bed5dbc"]]},{"id":"6d9dc51.bed5dbc","type":"debug","z":"99582503.22a938","name":"BatteryCharge","active":true,"console":"false","complete":"true","x":212,"y":528,"wires":[]},{"id":"5139d60e.72f538","type":"file","z":"99582503.22a938","name":"","filename":"/home/pi/debugNode","appendNewline":true,"createDir":true,"overwriteFile":"false","x":703,"y":698,"wires":[]},{"id":"c5da705.3ddf91","type":"debug","z":"99582503.22a938","name":"BatteryCharge","active":true,"console":"false","complete":"true","x":580.5,"y":777.75,"wires":[]},{"id":"cb71a217.f956d8","type":"function","z":"99582503.22a938","name":"","func":"var value = msg.payload.split(':')[1];\nvar date = new Date();\nvar month = date.getMonth();\nvar day = date.getDay();\nvar hour = date.getHours();\nvar min = date.getMinutes();\nvar sec = date.getSeconds();\nmsg.payload=\nday.toString()+\"/\"+\nmonth.toString()+\"/ \"+\nhour.toString()+\":\"+\nmin.toString()+\":\"+\nsec.toString() + \"## :\"+\nvalue;\nmsg.message=value;\nreturn msg;\n\n\n/*\nDate.prototype.getDay()\nDate.prototype.getFullYear()\nDate.prototype.getHours()\nDate.prototype.getMilliseconds()\nDate.prototype.getMinutes()\nDate.prototype.getMonth()\nDate.prototype.getSeconds()\nDate.prototype.getTime()\nDate.prototype.getTimezoneOffset()\nDate.prototype.getUTCDate()\n*/","outputs":1,"noerr":0,"x":597,"y":625.5,"wires":[["5139d60e.72f538","c5da705.3ddf91","97776b23.eb8e9"]]},{"id":"10e71490.f86193","type":"comment","z":"99582503.22a938","name":"HeartBeat","info":"","x":608,"y":379,"wires":[]},{"id":"29ef6101.cd3036","type":"comment","z":"99582503.22a938","name":"Get Wheel Overload Level","info":"","x":571,"y":414,"wires":[]},{"id":"d013175f.e1e88","type":"comment","z":"99582503.22a938","name":"Online","info":"","x":615,"y":338,"wires":[]},{"id":"22585b40.ff616c","type":"comment","z":"99582503.22a938","name":"Get / Set State","info":"","x":591,"y":293,"wires":[]},{"id":"229590d5.efe878","type":"comment","z":"99582503.22a938","name":"Slow Wheel When Docking","info":"","x":566,"y":259,"wires":[]},{"id":"a124f71d.f52ff","type":"comment","z":"99582503.22a938","name":"Get Sensor","info":"","x":613,"y":219,"wires":[]},{"id":"cee3912b.9644c","type":"comment","z":"99582503.22a938","name":"Get Battery","info":"","x":605,"y":179,"wires":[]},{"id":"be063d33.070308","type":"comment","z":"99582503.22a938","name":"N/A","info":"","x":622,"y":92,"wires":[]},{"id":"5da91cd2.854ad4","type":"comment","z":"99582503.22a938","name":"Mower Status","info":"","x":605,"y":134,"wires":[]},{"id":"466359cb.7a5488","type":"comment","z":"9cf35c49.3bead8","name":"API","info":"enum API_STATUS_CODE {\n  OK=1,\n  ERROR=2,\n  ARGUMENT_FAILED=3\n};\n\nenum API_COMMAND {\n  /* Notify 0-->99 */\n  HEARTBEAT=4,\n  NOTIFY=10,\n  SUBSCRIBE=11,\n  DEBUG=90,\n  ONLINE=99,\n  /* GetCommands 100-->199 */\n  GetCommands=100,\n  GetMowerStatus=101,\n  GetState=102,\n  GetBattery=103,\n  GetSensor=104,\n  GetMotor=105, // ;105:MOTOR[0=left,1=Right,2=cutter]#\n  GetSlowWheelWhenDocking=106,\n  GetWheelOverloadLevel = 107,\n\n/* Set commands 200-->299 */\n  SetState=202,   /* state */\n  SetBattery=203, /* battype,min,max,gohome */\n  SetMotor=205, //;205:MOTOR[0=left,1=Right,2=cutter]:SPEED# speed -100 --> 100\n  SetSlowWheelWhenDocking=206, /* value */\n  SetWheelOverloadLevel = 207, /* value */\n\n  SetFirstByteToFalse=998 /* <;998# > */\n};","x":368,"y":325,"wires":[]},{"id":"97776b23.eb8e9","type":"ui_text","z":"99582503.22a938","group":"d339fa32.f383c","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.message}}","layout":"row-spread","x":769.5,"y":607.5,"wires":[]},{"id":"f5f91fb7.24fa98","type":"comment","z":"b3b5cce2.49fbb","name":"API","info":"enum API_STATUS_CODE {\n  OK=1,\n  ERROR=2,\n  ARGUMENT_FAILED=3\n};\n\nenum API_COMMAND {\n  /* Notify 0-->99 */\n  HEARTBEAT=4,\n  NOTIFY=10,\n  SUBSCRIBE=11,\n  DEBUG=90,\n  ONLINE=99,\n  /* GetCommands 100-->199 */\n  GetCommands=100,\n  GetMowerStatus=101,\n  GetState=102,\n  GetBattery=103,\n  GetSensor=104,\n  GetMotor=105, // ;105:MOTOR[0=left,1=Right,2=cutter]#\n  GetSlowWheelWhenDocking=106,\n  GetWheelOverloadLevel = 107,\n\n/* Set commands 200-->299 */\n  SetState=202,   /* state */\n  SetBattery=203, /* battype,min,max,gohome */\n  SetMotor=205, //;205:MOTOR[0=left,1=Right,2=cutter]:SPEED# speed -100 --> 100\n  SetSlowWheelWhenDocking=206, /* value */\n  SetWheelOverloadLevel = 207, /* value */\n\n  SetFirstByteToFalse=998 /* <;998# > */\n};","x":570,"y":69,"wires":[]},{"id":"1d177344.558965","type":"link in","z":"d045c90.d8d5438","name":"UpdateTimers","links":["1b1eb3cc.8bcd44"],"x":186,"y":179,"wires":[["d5b71faa.14ca6"]]},{"id":"1b1eb3cc.8bcd44","type":"link out","z":"b3b5cce2.49fbb","name":"SewtState","links":["1d177344.558965"],"x":448,"y":252,"wires":[]},{"id":"c03cc639.1927a8","type":"function","z":"1d783821.d62c9","name":"Return value from Catch all filter","func":"if(msg.topic==\"INIT:103\")\n{\n    msg.payload=\";103\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":211.5,"y":253,"wires":[["f1240007.fcfcc"]]},{"id":"878f367b.831d3","type":"link in","z":"1d783821.d62c9","name":"","links":["bd440639.b76aa"],"x":166.5,"y":311,"wires":[["c03cc639.1927a8"]]},{"id":"45116625.f08ea","type":"link in","z":"521aa5c9.2efc6c","name":"UI-MOTOR","links":["3bdb3e6.53c81c2"],"x":160,"y":351,"wires":[["ae9ec00e.87cdb","f7a5ce30.62565"]]},{"id":"f7a5ce30.62565","type":"function","z":"521aa5c9.2efc6c","name":"RMOTOR","func":"var load, speed =0;\nif(msg.topic==\"MOWERSTATUS\")\n    {load = msg.RMLOAD;\n    speed = msg.RMSPEED;\n    msg.topic = speed;\n        \n    }\nelse\n    load=msg.payload.split(':')[1];\nmsg.payload = load;\nreturn msg;\n","outputs":1,"noerr":0,"x":376,"y":420,"wires":[["89b4f070.124"]]},{"id":"ae9ec00e.87cdb","type":"function","z":"521aa5c9.2efc6c","name":"LMOTOR","func":"var load, speed =0;\nif(msg.topic==\"MOWERSTATUS\")\n    {load = msg.LMLOAD;\n    speed = msg.LMSPEED;\n    msg.topic = speed;\n        \n    }\nelse\n    load=msg.payload.split(':')[1];\nmsg.payload = load;\nreturn msg;","outputs":1,"noerr":0,"x":361,"y":359,"wires":[["404957e9.8198a8"]]},{"id":"404957e9.8198a8","type":"ui_gauge","z":"521aa5c9.2efc6c","name":"Left Motor","group":"d621a726.b45db8","order":2,"width":"3","height":"3","gtype":"gage","title":"Left Motor","label":"","format":"{{value}}","min":"0","max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":652,"y":364,"wires":[]},{"id":"89b4f070.124","type":"ui_gauge","z":"521aa5c9.2efc6c","name":"Right motor","group":"d621a726.b45db8","order":3,"width":"3","height":"3","gtype":"gage","title":"Right Motor","label":"","format":"{{value}}","min":0,"max":"150","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":652.5,"y":429,"wires":[]},{"id":"dcf2743b.10145","type":"function","z":"521aa5c9.2efc6c","name":"","func":"if(msg.topic==\"INIT:106\") // nytt meddelande\n{\n    /*skicka iväg en fråga om värdet på släphjulet */\n    var getStatus={};\n    getStatus.payload = \";106\"; // # endcommand!!\n    return [null,getStatus,null];\n    \n}\n\nelse if(msg.topic==106) // return\n{\nvar value = Number(msg.payload.split(':')[1]); // 0 = kommando \nvar arr=[];\n/* sets values for dropdown list */\nfor(var i=5;i<96; i+=5)\n{\n    arr.push(i);\n}\nmsg.options=arr;\nmsg.payload = value;\nreturn [msg,null,msg];\n\n}\n\nelse\nreturn \"Nisses skrothandel\";","outputs":"3","noerr":0,"x":345,"y":544,"wires":[["a0e9724d.7601c8","af444f0a.8ea408"],["657718e7.25567"],["ff00a1b7.c2cb28"]]},{"id":"657718e7.25567","type":"link out","z":"521aa5c9.2efc6c","name":"GetSLowWheel","links":["101f6584.f08232","7c8773e6.e46a3c"],"x":818,"y":645,"wires":[]},{"id":"63a77417.946054","type":"function","z":"521aa5c9.2efc6c","name":"User selected value","func":"if(msg.topic==\"INIT:108\")\n{\n   return; // om topic init kommer hit, avsluta den här.\n}\nvar percent = msg.payload;\n/* 206 set slow wheel speed at docking */\nmsg.payload = \";206:\"+percent; \nreturn msg;","outputs":"1","noerr":0,"x":786.5,"y":518,"wires":[["657718e7.25567","437b39f0.94c41"]]},{"id":"74a789d4.d2d6c","type":"link in","z":"521aa5c9.2efc6c","name":"GetSLowWhell","links":["b5cea1a7.9ea8f","bd440639.b76aa"],"x":182,"y":859,"wires":[["87367ef2.182d1","561e65de.b328ac"]]},{"id":"ff00a1b7.c2cb28","type":"debug","z":"521aa5c9.2efc6c","name":"","active":true,"console":"false","complete":"true","x":574,"y":664,"wires":[]},{"id":"a0e9724d.7601c8","type":"ui_dropdown","z":"521aa5c9.2efc6c","name":"","label":"Slow Wheel Speed %","place":"Select option","group":"d621a726.b45db8","order":4,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":568,"y":499,"wires":[["63a77417.946054"]]},{"id":"87367ef2.182d1","type":"function","z":"521aa5c9.2efc6c","name":"check if return (socket not open)","func":"if(msg.topic==\"INIT:106\" || msg.topic==106)\n{\n  return msg;\n}","outputs":"1","noerr":0,"x":257.5,"y":696,"wires":[["cf397a8f.1c2448","561e65de.b328ac"]]},{"id":"cf397a8f.1c2448","type":"change","z":"521aa5c9.2efc6c","name":"Replace # ","rules":[{"t":"change","p":"payload","pt":"msg","from":"#","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":167,"y":617,"wires":[["dcf2743b.10145","ed585e8d.140df"]]},{"id":"ed585e8d.140df","type":"debug","z":"521aa5c9.2efc6c","name":"","active":false,"console":"false","complete":"true","x":583.5,"y":702,"wires":[]},{"id":"561e65de.b328ac","type":"debug","z":"521aa5c9.2efc6c","name":"","active":false,"console":"false","complete":"true","x":581.5,"y":759,"wires":[]},{"id":"af444f0a.8ea408","type":"debug","z":"521aa5c9.2efc6c","name":"","active":false,"console":"false","complete":"true","x":571.5,"y":622,"wires":[]},{"id":"891cc08c.2fadd8","type":"comment","z":"521aa5c9.2efc6c","name":"API","info":"enum API_STATUS_CODE {\n  OK=1,\n  ERROR=2,\n  ARGUMENT_FAILED=3\n};\n\nenum API_COMMAND {\n  /* Notify 0-->99 */\n  HEARTBEAT=4,\n  NOTIFY=10,\n  SUBSCRIBE=11,\n  DEBUG=90,\n  ONLINE=99,\n  /* GetCommands 100-->199 */\n  GetCommands=100,\n  GetMowerStatus=101,\n  GetState=102,\n  GetBattery=103,\n  GetSensor=104,\n  GetMotor=105, // ;105:MOTOR[0=left,1=Right,2=cutter]#\n  GetSlowWheelWhenDocking=106,\n  GetWheelOverloadLevel = 107,\n\n/* Set commands 200-->299 */\n  SetState=202,   /* state */\n  SetBattery=203, /* battype,min,max,gohome */\n  SetMotor=205, //;205:MOTOR[0=left,1=Right,2=cutter]:SPEED# speed -100 --> 100\n  SetSlowWheelWhenDocking=206, /* value */\n  SetWheelOverloadLevel = 207, /* value */\n\n  SetFirstByteToFalse=998 /* <;998# > */\n};","x":212.5,"y":489,"wires":[]},{"id":"437b39f0.94c41","type":"debug","z":"521aa5c9.2efc6c","name":"","active":false,"console":"false","complete":"true","x":828.5,"y":766,"wires":[]},{"id":"d9cb3e8.cb13e4","type":"ui_gauge","z":"521aa5c9.2efc6c","name":"","group":"d621a726.b45db8","order":1,"width":"6","height":"3","gtype":"gage","title":"Wheel Load Diff","label":"Diff","format":"{{value}}","min":"-50","max":"50","colors":["#b21b1a","#30e238","#ca3838"],"seg1":"-10","seg2":"10","x":555.5,"y":64,"wires":[]},{"id":"80c6fa76.c717e","type":"function","z":"521aa5c9.2efc6c","name":"Calc WheelDiff","func":"if(!msg.topic==\"MOWERSTATUS\")\nreturn null;\nvar value=0;\nvalue = msg.LMLOAD-msg.RMLOAD;\nmsg.payload=value;\nreturn msg;\n","outputs":1,"noerr":0,"x":343,"y":61.5,"wires":[["d9cb3e8.cb13e4"]]},{"id":"ef7f25d9.ec3878","type":"link in","z":"521aa5c9.2efc6c","name":"WheelMowerstatus","links":["3c263c4a.5fc7bc"],"x":193,"y":54,"wires":[["80c6fa76.c717e"]]},{"id":"48c5790b.feb2f","type":"link in","z":"1d783821.d62c9","name":"SOCMowerState","links":["c1481ae9.b587c","3c263c4a.5fc7bc"],"x":125,"y":198,"wires":[["3b4cde0e.765cca"]]},{"id":"3b4cde0e.765cca","type":"function","z":"1d783821.d62c9","name":"SOC","func":"var value=0;\nif(msg.topic==\"MOWERSTATUS\")\n    value=msg.SOC/100;\n    else\n{    \nvar value=msg.payload.split(':')[5]/100;\n}\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":197,"wires":[["5a2a3515.c09004"]]},{"id":"5a2a3515.c09004","type":"ui_gauge","z":"1d783821.d62c9","name":"Batteri","group":"d339fa32.f383c","order":4,"width":"0","height":"0","gtype":"gage","title":"Batteri","label":"Volt","format":"{{value}}","min":"10.4","max":"13.5","colors":["#ff0000","#e6e600","#00b500"],"seg1":"10.9","seg2":"11.85","x":586,"y":185,"wires":[]},{"id":"6515e6c2.db9de","type":"ui_dropdown","z":"1d783821.d62c9","name":"","label":"Type","place":"Select option","group":"a2a73f6c.42a38","order":0,"width":0,"height":0,"passthru":true,"options":[],"payload":"","topic":"","x":350.5,"y":26,"wires":[[]]}]